[2015-12-08 14:59] imzhenyu opened #23 "dsn_group_address does not switch leader when its mode is GRPC_TO_LEADER"
to be fixed.

[2015-12-08 15:00] imzhenyu opened #24 "while FD on meta server is trying to get leader lock, it does not response leader queries"
the non-responding lead to long wait of the client and replica servers.

[2015-12-08 15:01] imzhenyu opened #25 "need to expose replica and machine info on meta server to web views for easier debugging"
TODO

[2015-12-08 15:03] imzhenyu opened #26 "server load balancer will be adjusted contiguously when the cluster scales, better to make it pluggable"
TODO

[2015-12-08 15:04] imzhenyu opened #27 "FD parameters need more description and default value after testing"
TODO

[2015-12-08 15:05] imzhenyu opened #28 "FD beacon needs to have versions to avoid response out-dated messages"
TODO

[2015-12-08 15:06] imzhenyu opened #29 "raw-medal deployment using minos"
TODO

[2015-12-08 15:06] imzhenyu opened #30 "perf counters for meta server and replica fail-over"

[2015-12-08 15:06] imzhenyu opened #31 "external project installation cmake scripts on linux AND windows"

[2015-12-08 15:08] imzhenyu opened #32 "throttling paremeters tuning, espcially for replication mutation queue and disk/network queues"

[2015-12-08 15:09] imzhenyu opened #33 "add options in core to enable default app for out-of-rdsn api invocation without explicit dsn_mimic_app calls"

[2015-12-08 15:30] imzhenyu opened #34 "safe_task_handle memory leak when the task is cancelled by the tracker instead of explicit safe_handle::cancel call"
TODO

[2015-12-09 02:56] imzhenyu opened #35 "replication membership and server information web view"
TODO

[2015-12-09 02:57] imzhenyu opened #36 "UDP network provider for FD"
this isolates the network channel between failure detector and the others - making the system more robust.

[2015-12-09 02:59] imzhenyu opened #37 "replica server information web view"

[2015-12-09 03:00] imzhenyu opened #38 "expose information on replica server as cli command for easier debugging"
e.g., how many replicas, state of each replica

[2015-12-09 03:01] imzhenyu opened #39 "deployment model comparion for three approaches"
(1) raw
(2) docker
(3) docker + kubernetes

[2015-12-09 03:23] qinzuoyan opened #40 "determine standard of terms used in rDSN"
There are lots of terms used in rDSN code and config, and some ones are confusing. So it's necessary to make a standard.

Terms include:
- app_id
- app_name/role_name
- role_index
- app_full_name
- app_type

[2015-12-09 03:24] qinzuoyan commented on #40
refer to pull request: https://github.com/imzhenyu/rDSN/pull/22

[2015-12-09 03:28] imzhenyu commented on #40
Nice. I see the pull request does not compile ok though. I cannot see the detailed logs now. Would you please take a look and make sure auto-test is ok then we can merge.

[2015-12-09 03:30] qinzuoyan opened #41 "fix rep_test to make it work ok, and put it into hook checks"

[2015-12-09 03:32] qinzuoyan opened #42 "make zookeeper unit-test work ok in hook checks"

[2015-12-09 03:35] qinzuoyan opened #43 "determine zookeeper client version and version compatibility between zookeeper client and server"
two things:
- determine the version of zookeeper c client to use
- check the version compatibility between zookeeper client and server

[2015-12-09 03:36] xiaotz opened #44 "Client auto fetch partition count"
before client do read/write operations, client fetch partition count automatically.

[2015-12-09 03:36] xiaotz opened #45 "client DDL lib and DML tool"

[2015-12-09 04:31] shengofsun commented on #43
1. Currently we use the stable version of C client 3.4.6.
2. I have checked the zookeeper 3.4.6, 3.4.7 and the 3.5.1(alpha version), the protocol are kept unchanged. And in 3.5.1, there are some enhancements. So we'd better keep zookeeper c client a independent external project to make it easy to upgrade version.

[2015-12-09 04:37] imzhenyu commented on #43
Agree. Meanwhile, we do need some approaches to check against this. E.g., when there is a failure in the zookeeper-based providers, is it possible for us to automatically get notified that the client and server version do not match and what to do next for users, etc.?

[2015-12-09 05:14] goksyli commented on #29
@shengofsun I need some materials for deployment using `minos`. Could you send me some via email if convenient.

[2015-12-09 05:22] imzhenyu commented on #28
just go through the code and there is a time field which acts this role (to exclude out-dated acks). My bad memory. But the problem of the replication FD remains and I'll fix it soon.

[2015-12-09 05:27] qinzuoyan commented on #29
Minos github: https://github.com/xiaomi/minos
Any questions, @xiaotz is here.

[2015-12-09 05:38] xiaotz commented on #29
@goksyli

https://github.com/xiaomi/minos/wiki
you can start from it.

However, I did not deploy the minos myself. in addition, I change some code in our internal code branch.

I can own this issue since we have minos experts in our corp.
and I will give you a detailed document about deployment.

what do you think?

[2015-12-09 05:43] goksyli commented on #29
I have to deploy `rDSN` using `minos` at `Microsoft` and I think having a detailed document about deployment is a good choice.

[2015-12-09 05:45] imzhenyu commented on #29
Great. @goksyli let's focus the two other approaches then, and do this one later after @xiaotz finalizes a detailed doc using minos. @xiaotz, since we want to have a running bed asap, this is kinds of urgent. Thanks.

[2015-12-09 05:49] goksyli commented on #29
@imzhenyu, Ok I got the message.

[2015-12-09 05:52] xiaotz commented on #29
@goksyli @imzhenyu  sure

I will finish this work ASAP.
ETA is Dec. 15

[2015-12-09 05:52] shengofsun commented on #43
Checking if the version is matched should be done via the return-code of the zookeeper api, and we may add some test-cases to test it.
But a better understanding on the zookeeper-server's response to the client's request is needed, as there is no error_code like "version unmatch". We may keep this issue opened, and let me consider it next year.

[2015-12-09 06:15] qinzuoyan commented on #40
fixed and merged

[2015-12-09 06:15] #40 closed, assigned to qinzuoyan

[2015-12-09 06:17] qinzuoyan opened #46 "zookeeper config specification"
Now there are two services which have zookeeper implements, they are:
- meta_state_service, implemented by meta_state_service_zookeeper
- distributed_lock_service, implemented by distributed_lock_service_zookeeper

Zookeeper sessions are controlled by zookeeper_session_mgr, which is a **_singleton object**_. General zookeeper configs can be set in **_[zookeeper]**_ section, such as hosts_list, tim

[2015-12-09 06:18] qinzuoyan opened #47 "store data on zookeeper in json format for easier debugging"

[2015-12-09 06:21] qinzuoyan opened #50 "zookeeper data backup"
To protect from data lose, we need backup zookeeper data periodically.

[2015-12-09 06:21] imzhenyu commented on #28
see pull request https://github.com/imzhenyu/rDSN/pull/49 @shengofsun @qinzuoyan please help review it.

[2015-12-09 06:24] qinzuoyan opened #51 "FD module test"
Test FD module using act framework.

[2015-12-09 06:25] qinzuoyan opened #52 "replication learning test using act framework"

[2015-12-09 06:27] qinzuoyan opened #54 "adapt rocksdb benchmark for our system, and generate test result"

[2015-12-09 06:29] qinzuoyan opened #55 "add tab/space format checker in github webhooks"

[2015-12-09 06:36] qinzuoyan commented on #28
ok, we'll review it. You'd better replace tab by spaces first.

[2015-12-09 06:45] mcfatealan opened #56 "query interface in perf_counters for the current value of any counter for real-time visualization"

[2015-12-09 06:51] imzhenyu commented on #28
right, just set the tab options for my notepad++:)

[2015-12-09 06:55] imzhenyu commented on #56
this interface should be registered in perf_counters instead of profiler, as some counters may not related to profiling at all.

[2015-12-09 07:01] mcfatealan commented on #56
At this moment it's temporarily added in profiling_command

[2015-12-09 07:08] imzhenyu commented on #56
we need to move it to perf_counters then; otherwise the semantic is incorrect.

[2015-12-09 08:00] imzhenyu commented on #36
nicely done.

[2015-12-09 08:00] #36 closed, assigned to glglwty

[2015-12-09 08:05] imzhenyu commented on #23
difficult to do this automatically. let's leave it to the upper layer to switch the leader instead of doing this inside the core.

[2015-12-09 08:07] #55 closed, assigned to qinzuoyan

[2015-12-09 08:29] mcfatealan commented on #56
Done.

[2015-12-09 09:07] imzhenyu commented on #23
Under certain circumstances, auto-set is possible. commit https://github.com/imzhenyu/rDSN/commit/c086a14dc493d52560a00be0bb52ed1e8f1371ac in https://github.com/imzhenyu/rDSN/pull/49 addresses issue.

[2015-12-09 11:40] #56 closed, assigned to mcfatealan

[2015-12-09 17:52] imzhenyu commented on #31
fixed in https://github.com/imzhenyu/rDSN/commit/65142009be1be6c940b2e2cf8e859bea7423606b

[2015-12-09 17:52] #31 closed, assigned to imzhenyu

[2015-12-10 01:52] qinzuoyan commented on #31
nice~

[2015-12-10 02:53] mcfatealan opened #58 "add quick startup and timeout analysis to solution wizard"

[2015-12-10 04:39] imzhenyu opened #59 "add explicit local ip address in config file to support docker/kubernets scenario"
In kubernets, we use service ip instead of pod ip or host ip as host ip, as the latter two are not stable. However, our rpc engine currently gets local ip automatically, which is pod ip. We therefore need to add an explicit local ip option to support this scenario.

[2015-12-10 04:50] imzhenyu commented on #23
the fix is merged, testing is ok, close this now.

[2015-12-10 04:50] #23 closed, assigned to imzhenyu

[2015-12-10 05:26] imzhenyu commented on #59
implemented by https://github.com/imzhenyu/rDSN/pull/60 @goksyli

[2015-12-10 06:28] imzhenyu commented on #28
it is merged and test ok - I'm closing it now, and you may look into the pull request and share comments later.

[2015-12-10 06:28] #28 closed, assigned to imzhenyu

[2015-12-10 06:35] imzhenyu commented on #59
done.

[2015-12-10 06:35] #59 closed, assigned to imzhenyu

[2015-12-10 06:36] mcfatealan opened #62 "Test rDSN.monitor on Linux and write automatic install scripts"

[2015-12-10 06:39] imzhenyu opened #63 "write build.cmd and test.cmd for windows platform, integrate them into appveyor"
it is also best if we can embed all installation steps in these scripts, similar to what we done in CI scripts for travis and appveyor.

[2015-12-10 06:45] mcfatealan opened #64 "enable rDSN.monitor to accept path parameters so that it could be called from outside"

[2015-12-10 06:47] qinzuoyan commented on #28
Ok, we will look into it and add some test cases.

[2015-12-10 07:11] imzhenyu commented on #28
yes, act scripts is not there yet, and the test is replying on those test cases. Currently, I don't do much test yet.

[2015-12-10 07:33] imzhenyu commented on #24
fixed in https://github.com/imzhenyu/rDSN/pull/65

[2015-12-10 07:34] imzhenyu commented on #24
@qinzuoyan @shengofsun @xiaotz please help review it, thx.

[2015-12-10 08:26] qinzuoyan commented on #42
done

[2015-12-10 08:26] #42 closed, assigned to qinzuoyan

[2015-12-10 10:57] qinzuoyan commented on #46
@imzhenyu , let's discuss the problem above.

[2015-12-10 11:14] imzhenyu commented on #46
Thanks, @qinzuoyan. I think this is great and I agree most of them. My comment is to decouple the state and execution of different apps when they are in the same process, otherwise this may cause different tasks and locks etc. from different node interacting with each, which is not exactly the case in the real deployment, and may cause mal-functioning of the simulator. On the other hand, since we

[2015-12-10 11:46] shengofsun commented on #46
In my opinion, what we need is a per-node zookeeper session instead of a per-node zookeeper session mgr. Currently, each service_node has a zookeeper session, and different sessions have different zookeeper threads. As for zookeeper session mgr, it's only a map which manage all the (app, session) pairs.

[2015-12-10 12:02] imzhenyu commented on #46
This is even better - we do only have one zookeeper session in each node. The cross-node map is however, not good for rdsn's model. After all, we assume network is the only resource that different nodes can share. Violation of this assumption brings problems, e.g., what node the lock that protect this map belongs to?

[2015-12-10 12:43] qinzuoyan commented on #46
Another pull request is created: https://github.com/imzhenyu/rDSN/pull/67.
I choose to passing lock_root to distributed_lock_service **_by initialize parameters**_, but not by setting in config, which I think would be more flexible. Then the lock node path will be "${lock_root}/${lock_id}", and children will be ephemeral and sequence nodes of "${lock_root}/${lock_id}/${LOCK_NODE_PREFIX}${i}".

For

[2015-12-10 13:31] goksyli opened #68 "rdsn deployment using kubernetes"
First, we should deploy replication servers and one meta server separately on kubernetes cluster. Just one `service-app` per process and test them.

For **consistent access IP**, we should associate them each with one `kubernetes service`. So that despite of failover from them, these servers can have unchanged **accessible ip**.

[2015-12-10 13:51] goksyli commented on #68
Path to checkpoints and logs of meta-server and replication server are not configurable currently, I think.
That makes it difficult to write [kubernetes pod spec](https://github.com/kubernetes/kubernetes/blob/master/examples/rethinkdb/admin-pod.yaml), since they are in the same directory as the program now.

[2015-12-10 14:42] wangyan32 opened #69 "the problem with project "dsn.nfs.test""
when i wanna try the nfs test in dsn, i found the example of nfs is not work well. In "nfs_test.main.cpp", the code "#include "nfs_test.app.example.h"" at the front will case endless loop, and can not drop in the main function. I use the code in a wrong way? or some others? thank you!

[2015-12-11 00:48] imzhenyu opened #70 "expose performance counter create/update/destroy as c service api"
let's expose the interface to the upper layer, so we can have more view in our dashboard.

[2015-12-11 00:49] imzhenyu opened #71 "add more performance counters in replication and io stack"
currently, our perf counters are mostly used in core/tasks. We would like to see more counters in network/disk stack, as well as replication layer (using exposed service API in C).

[2015-12-11 00:50] imzhenyu commented on #69
i'm looking into this now.

[2015-12-11 01:08] imzhenyu commented on #69
@wangyan32, dsn.nfs.test is currently a service instead of one-pass execution, inside which the client app periodically copies file ./dsn.nfs.test from server to its local ./dst dir. And you can see dsn_run("config.ini", true) in main, which means after call dsn_run, the main threads enters a sleep mode, which never exits.

If you want to have a one-time tool copies file for you, I don't think our

[2015-12-11 02:03] mcfatealan opened #72 "change dlopen flag in Linux/FreeBSD/OSX to make symbols available for python interpreter"
implemented by #66

[2015-12-11 02:43] goksyli opened #73 "make path to logs and checkpoint configurable"
Currently, path to logs and checkpoints are by default the same directory as program and can't be configurable. That make it difficult to put them on persistent volumes when deployment on cluster

[2015-12-11 03:00] imzhenyu commented on #72
pr merged, but there is a still an TODO issue for this fix, as concerned by @qinzuoyan . Let's keep this as a TODO.

[2015-12-11 03:01] imzhenyu commented on #73
work on this now.

[2015-12-11 03:02] goksyli commented on #73
thx :+1:

[2015-12-11 04:45] imzhenyu commented on #73
implemented in https://github.com/imzhenyu/rDSN/pull/74  please help review. @goksyli @qinzuoyan

[2015-12-11 04:45] imzhenyu commented on #73
result data dir convention:

[core] data_dir defines the root data directory
 ${data_dir}/coredump for coredumps
 ${data_dir}/logs for all logs
 ${data_dir}/${app_name} for all apps data dir

[2015-12-11 05:33] #69 closed, assigned to imzhenyu

[2015-12-11 05:34] #73 closed, assigned to imzhenyu

[2015-12-11 06:06] mcfatealan commented on #72
okay

[2015-12-11 06:49] mcfatealan commented on #62
Done, see https://github.com/mcfatealan/rDSN.Python/commit/b348bede79b4e862ce20eb1acd81a4068552562c.
Linux deployment succeeded.

[2015-12-11 06:49] imzhenyu commented on #34
try to fix this in https://github.com/imzhenyu/rDSN/pull/75 @shengofsun @qinzuoyan @glglwty please help review.

[2015-12-11 07:35] glglwty commented on #34
@imzhenyu It seems fine to me

[2015-12-11 08:16] imzhenyu commented on #34
thanks @glglwty

[2015-12-11 09:56] shengofsun commented on #34
@imzhenyu you may forgot to mofify the safe_late_task, which is also a derived class of safe_task_handle

[2015-12-11 10:00] imzhenyu commented on #34
@shengofsun , I see. My bad, will do in the next pr.

[2015-12-11 10:23] qinzuoyan commented on #46
There are more discussions in https://github.com/imzhenyu/rDSN/pull/67#discussion_r47324520, mark here.

[2015-12-13 13:16] #24 closed, assigned to imzhenyu

[2015-12-13 13:16] #34 closed, assigned to imzhenyu

[2015-12-13 13:18] imzhenyu commented on #29
As discussed in email, this approach is infeasible for the time being. Close now.

[2015-12-13 13:18] #29 closed, assigned to xiaotz

[2015-12-13 13:19] imzhenyu commented on #68
this path issue is fixed in pr https://github.com/imzhenyu/rDSN/pull/74

[2015-12-13 13:20] imzhenyu commented on #68
the consistent IP issue is fixed (from rdsn side) in pr https://github.com/imzhenyu/rDSN/pull/60

[2015-12-13 14:34] qinzuoyan commented on #46
now the zookeeper config is like:

[code]

[2015-12-13 14:34] #46 closed, assigned to qinzuoyan

[2015-12-14 01:42] imzhenyu opened #79 "cleanup the scripts in the top directory"
Trying to add scripts for the windows platform. But there are now too many scripts in the top directory already. Let's have a top dispatcher command and move these existing ones into subdirectory. E.g.,

/run.sh|run.cmd pre-require|build|install|test|test_cov|start_zk|stop_zk

all scripts go to:
/scripts/${os}/xxx.sh|.cmd

What do you guys think about this?

[2015-12-14 01:43] imzhenyu commented on #79
@qinzuoyan

[2015-12-14 01:45] imzhenyu commented on #79
we also need a single point to setup the DSN_ROOT env var for installation and inquiry from other projects. run.cmd|.sh provides such a single point for testing and setup.

[2015-12-14 02:01] qinzuoyan commented on #79
Nice, I agree with it. So let's do it, I write the scripts on linux, and you write the scripts on windows, ok?

[2015-12-14 02:07] imzhenyu commented on #79
Good. that's exactly what I @ you for:)

[2015-12-14 02:14] imzhenyu commented on #33
//
    // we allow multiple apps in the same process in rDSN, and each app (service_app_spec)
    // has its own rpc/thread/disk engines etc..
    // when a rDSN call is made in a thread not belonging to any rDSN app,
    // developers need to call dsn_mimic_app to designated which app this call and subsequent
    // calls belong to.
    // this is kinds of tedious sometimes, we therefore introduc

[2015-12-14 09:24] #25 closed, assigned to glglwty

[2015-12-14 09:24] #38 closed, assigned to glglwty

[2015-12-14 14:43] imzhenyu commented on #79
seems GitHub does not support assigning issue to multiple persons

[2015-12-14 14:43] imzhenyu commented on #79
anyway, i'm working on the windows version, so this issue will stay opened

[2015-12-15 02:42] imzhenyu opened #85 "add distributed deployment scripts on windows"
and integrated into run.cmd in the root dir

[2015-12-15 02:51] imzhenyu commented on #85
done in https://github.com/imzhenyu/rDSN/pull/86

[2015-12-15 02:51] imzhenyu commented on #85
@mcfatealan @glglwty  you can use this script for windows deployment
@goksyli you may take this as a reference for your Linux ones

[2015-12-15 02:51] #85 closed, assigned to imzhenyu

[2015-12-15 02:53] imzhenyu commented on #79
integrate deployment scripts as well into run.cmd|.sh https://github.com/imzhenyu/rDSN/issues/85
@goksyli  is working on Linux version, will be integrated into this run.sh too.

[2015-12-15 12:17] goksyli opened #89 "add distributed deployment scripts on Linux"
and integration into top directory run.sh

[2015-12-15 12:24] goksyli commented on #89
done in #90, @imzhenyu @qinzuoyan please review

[2015-12-16 02:27] imzhenyu commented on #33
done in https://github.com/imzhenyu/rDSN/pull/92
@qinzuoyan @glglwty please help review

[2015-12-16 02:29] imzhenyu opened #93 "refine dsn_terminate as dsn_exit and ensure we don't have coredump on it"
basically, we can suspend all threads in the current process, and call some api to exit to avoid concurrent access on exit

[2015-12-16 05:13] mcfatealan opened #94 "add multiple app launch support in args"
At present we use this to choose which app to run

[code]

what if we want to add one more app `monitor`?

We want to support this usage:

[code]

[2015-12-16 05:28] qinzuoyan commented on #94
but what about app_index? maybe this way:

[code]

"meta@1" means app=meta, app_index=1
"monitor" means app=monitor, app_index=all

[2015-12-16 06:03] imzhenyu commented on #94
I like @qinzuoyan 's proposal, which seems better than what we just discussed @mcfatealan

[2015-12-16 06:09] mcfatealan commented on #94
Good! Actually I just finished the last version..... let me alter to the new usage.

[2015-12-16 06:27] mcfatealan commented on #94
Done.

[2015-12-16 07:39] qinzuoyan opened #97 "make replication_app_base's interfaces all return dsn::error_code"
Now replication_app_base's interfaces return raw int as return code. It's better to return dsn::error_code .

[2015-12-16 07:45] #70 closed, assigned to glglwty

[2015-12-16 08:19] imzhenyu commented on #33
merged.

[2015-12-16 08:19] #33 closed, assigned to imzhenyu

[2015-12-16 09:15] goksyli opened #99 "deploy.sh is still specific to the target application"
currently `deploy.sh` need to invoke `deploy.<deployment_name>.sh`. We need to make this more general.
And the `start.sh` need runtime info to run, which is difficult for local sysadmin to debug. We need to remove this runtime info requirement.

[2015-12-16 09:17] goksyli commented on #99
done in #100 @imzhenyu please review

[2015-12-17 00:52] imzhenyu commented on #71
I'm doing this now.

[2015-12-17 02:45] #99 closed, assigned to goksyli

[2015-12-17 02:45] #89 closed, assigned to goksyli

[2015-12-17 02:58] mcfatealan commented on #64
Implemented by https://github.com/rDSN-Projects/rDSN.Python/pull/7.

[2015-12-17 02:58] #64 closed, assigned to mcfatealan

[2015-12-17 02:59] #62 closed, assigned to mcfatealan

[2015-12-17 05:09] imzhenyu commented on #71
add some examples in https://github.com/imzhenyu/rDSN/pull/103
@glglwty please add more when you do the profiling on demand.

[2015-12-17 10:05] #94 closed, assigned to mcfatealan

[2015-12-17 10:14] imzhenyu commented on #99
@goksyli , we need to make the issue more meaningful - the current title does not reveal the issue or the purpose.

[2015-12-17 14:11] imzhenyu opened #108 "add retry logic in rpc engine"
one example is 2pc - we can make the chance of reconfiguration smaller by retrying.

[2015-12-20 13:01] mcfatealan opened #111 "add parameters during publish to allow users to enable rDSN.Monitor"

[2015-12-20 13:53] mcfatealan opened #112 "add zip and unzip for deployment process"
When rDSN.Monitor is embedded in published folders, the number of files would be very large. We need to add zip and unzip for deployment to shorten deploying time

[2015-12-21 05:20] imzhenyu opened #113 "change many core configurations to service node specific configurations"
different nodes may use different configurations (e.g., io loop mode), network providers. We need to change many core configurations to service node specific.

[2015-12-21 05:21] imzhenyu opened #114 "cannot run rdsn on win7"
reported by @wangyan32

[2015-12-21 07:28] linmajia opened #115 "strerror is not thread safe."
Here is a ref implementation in file_utils.cpp:

[code]

[2015-12-21 09:10] imzhenyu commented on #114
I did not find a win7 machine but a server 2008 R2 which should use the same version of WINNT.

I did not reproduce the issue by the following steps:

git clone https://github.com/imzhenyu/rDSN.git
cd rDSN
git pull origin imzhenyu
git checkout imzhenyu
run build  Debug ./sln
run test Debug ./sln

[2015-12-21 10:47] linmajia opened #116 "macro ARRAYSIZE is not type safe."
A better one:

[code]

[2015-12-22 02:04] goksyli opened #118 "add config.ini tool binary to get config.ini key value"
usage as this:
<configtool> <config file> <section> <key>
and it will put the key value if exists otherwise nothing

[2015-12-22 02:08] goksyli commented on #118
done in #119 @imzhenyu please review

[2015-12-22 02:10] imzhenyu commented on #118
@goksyli please also specify why this is needed, e.g. For what scenario.

[2015-12-22 02:25] goksyli commented on #118
when publishing or deploying, we need to get which ports the program need to use. And our config.ini is not standard, which crash common ini parsers. All that makes it necessary to write a config getter using our library. Actually, I have discussed about this with you last Friday. @imzhenyu

[2015-12-22 03:04] qinzuoyan commented on #118
I think it would be better to merge this tool into src/tools/repli, which is a integrated tool. Only using one tool will make life easier.

[2015-12-22 03:19] imzhenyu commented on #118
@goksyli yes, we've discussed before, and let's document it here for others to understand why. @qinzuoyan this is good, and we can do it in our next round of refactoring.

[2015-12-22 08:13] qinzuoyan commented on #118
as above, I merged configtool into tools/repli, because the old configtool may cause compile error on my machine

[2015-12-22 13:42] #44 closed, assigned to xiaotz

[2015-12-22 15:42] wangyan32 commented on #114
the project: “dsn.core.test” works well on win7 platform, but the others works wrong, for example “dsn.tests”, “dsn.nfs.test”, etc..Did you try them on server2008 @imzhenyu, or the counter example?

[2015-12-23 03:13] shengofsun commented on #51
module test of failure detector now in dsn/tests/failure_detector.cpp

[2015-12-23 03:13] #51 closed, assigned to shengofsun

[2015-12-23 03:29] shengofsun opened #125 "remove query in meta_server's failure_detector"
Currently meta_server queries the meta leader periodically from the distributed lock, which can't get the newest value of meta leader. In addition, this is somewhat redundant as the current implementation of distributed lock is based on watch-event.

[2015-12-23 03:30] imzhenyu commented on #125
@shengofsun let's specify why and for what so others understand what it is for.

[2015-12-23 03:50] imzhenyu commented on #63
done in https://github.com/imzhenyu/rDSN/pull/117

[2015-12-23 03:50] #63 closed, assigned to imzhenyu

[2015-12-23 05:34] imzhenyu commented on #114
hi @wangyan32 no issues find on our machines. You may put dsn.core.dll together with your exe so things should be fine. Our latest run.cmd will automatically add $DSN_ROOT/lib to PATH so the dll will be automatically found. Hope this helps.

[2015-12-23 09:17] imzhenyu commented on #114
@wangyan32 I've repeated this issue on a fresh machine now, hanged at
if (!RegisterWaitForSingleObject(&m_hThrottlingWait, m_hThrottlingEvent, SchedulerBase::ThrottlerTrampoline, this, INFINITE, WT_EXECUTEDEFAULT))

We're looking into this for the root cause

[2015-12-23 09:57] imzhenyu commented on #114
@wangyan32 seems to be a SDK bug that we cannot fix. We are changing the use of this though to avoid this bug. see pr at https://github.com/imzhenyu/rDSN/pull/127

[2015-12-25 00:48] imzhenyu opened #133 "replica stub close hangs"
when a replica stub closes, there are chances where the closing is never done. The stack reveals that the problem is raised by the dsn_task_tracker_wait_all(xxx) line in mutation_log::close. A closer look into the waited task reports the task state is ready, indicating it has never been executed (or even enqueued). The config file used is vconfig.ini in simple-kv.

   // flush pending buffer first

[2015-12-25 02:10] imzhenyu commented on #133
@glglwty a rough fix is in https://github.com/imzhenyu/rDSN/commit/6106a3c1d35b4456830022a25cabf11149f431a3  please review. and also, we may need to have two concurrent running mutation writes to bootstrap the mutation log throughput.

[2015-12-25 02:59] glglwty commented on #133
I have no idea how your modification to flush() is fixing this issue.

[2015-12-25 03:38] imzhenyu commented on #133
@glglwty it won't fix the hang - it fixes the missing issue_write that may cause learning holes. Let's continue digging the hang issue.

[2015-12-25 05:28] #114 closed, assigned to imzhenyu

[2015-12-25 05:29] #118 closed, assigned to goksyli

[2015-12-25 05:31] imzhenyu commented on #79
intergrate start_zk and stop_zk into run.cmd

[2015-12-25 05:31] #79 closed, assigned to qinzuoyan

[2015-12-25 05:33] mcfatealan commented on #72
Since there's no further action, I'll close it now.

[2015-12-25 05:33] #72 closed, assigned to mcfatealan

[2015-12-25 05:38] mcfatealan commented on #112
In the latest version we stopped packing and unpacking operations to the whole folder, instead we just directly send the pre-zipped rDSN.monitor pack with other files to the remote machines. Then we do unzip only once not twice as usual (unzip the whole folder and then unzip monitor)

[2015-12-25 05:38] #112 closed, assigned to nobody

[2015-12-25 05:43] mcfatealan commented on #111
Now instead of adding a "-m" parameter, we add the url of MonitorPack(a pack including all monitor files and python dependency) at the end of parameter list. If this url exists, the published folder will include all monitor files and scripts will be automatically modified to enable monitor.

[2015-12-25 05:43] #111 closed, assigned to nobody

[2015-12-25 09:01] qinzuoyan opened #135 "fix private log data log bug caused by private batch writing and too fast garbage collection"
This problem is tricky. Because the private log is writing in batch mode, so the last buffer may have not been flushed into the file when servers core dump, which would cause log data lost. To ensure private log completeness, we need re-append mutations into private log when replaying shared logs on recovery. And:
- The lost data must exist in shared log
- The lost data should be re-append to priv

[2015-12-25 09:11] qinzuoyan commented on #135
@imzhenyu , pls review it

[2015-12-25 09:15] qinzuoyan commented on #41
All fixed except case-402, which has been move to directory "to-fix".
Now that the rep_tests often fail, currently we disable it util someday the system becomes stable.

[2015-12-25 14:01] imzhenyu commented on #135
Good. As discussed, max_commit_decree is not enough, but max commit + disk written confirmed. You probably want to use max_on_disk_commit_decree etc. as the variable name.

[2015-12-25 14:34] imzhenyu commented on #41
You mean case-402 often fails, or there are also other cases failing sometimes as well? I think one thing we need to pay attention is the capability of our current act test, which only supports total order of events but not partial order. We therefore need to make sure we only setup events with total order in our test cases. Otherwise, depends on the runtime scheduling, the cases may or may not fa

[2015-12-25 15:16] qinzuoyan commented on #41
Case-402 always fail, and I have not found out the reason.
We can improve the cases to make them run with total order, but it's also necessary to add partial order support, when I have free time.

[2015-12-26 01:28] imzhenyu commented on #41
Great, and it is best if the further refinement can target a broader range of applications. I think the act framework has the potential to be a great general tool for many rDSN applications in the end.

[2015-12-27 14:57] imzhenyu commented on #133
the hang is caused by deadlock - LPC_WRITE_REPLICATION_LOG_FLUSH is dispatch to THREAD_POOL_REPLICATOIN_LONG, while close_replica is also done in the same pool which waits for the completion of LPC_WRITE_REPLICATION_LOG_FLUSH - easily leads to deadlock. Now we are moving LPC_WRITE_REPLICATION_LOG_FLUSH to default pool. Besides, we need to do two things: (1). automatically detect such deadlock on a

[2015-12-28 02:53] qinzuoyan commented on #26
When will we start the task? this task is not difficult, maybe we can finish it this week?

[2015-12-28 03:05] imzhenyu commented on #26
np，I'm busy doing something else today, will do tomorrow.

[2015-12-28 03:20] #135 closed, assigned to qinzuoyan

[2015-12-28 03:25] qinzuoyan commented on #97
done, all merged

[2015-12-28 03:25] #97 closed, assigned to qinzuoyan

[2015-12-28 03:32] qinzuoyan opened #137 "let's reference issues in commit messages, to connect them automatically"
refer to:
https://github.com/blog/831-issues-2-0-the-next-generation
https://github.com/blog/957-introducing-issue-mentions

[2015-12-28 03:47] #137 closed, assigned to nobody

[2015-12-29 01:50] imzhenyu opened #141 "random generator error"
[ RUN      ] core.env
C:\Program Files (x86)\Microsoft Visual Studio 12.0\VC\include\random(2604): invalid min and max arguments for uniform_int

when testing https://github.com/imzhenyu/rDSN/pull/140

[2015-12-29 02:45] #133 closed, assigned to glglwty

[2015-12-29 03:23] #125 closed, assigned to shengofsun

[2015-12-29 08:21] imzhenyu commented on #93
to avoid callbacks registered by compiler or atexit, we use terminateprocess on windows, and _exit on Linux.

[2015-12-29 09:55] #141 closed, assigned to glglwty

[2015-12-29 12:35] qinzuoyan commented on #41
I have found the reason for case-402 failure: in replica::update_local_configuration(), the returned mutation_ptr of check_possible_work() is not properly handled, so the mutation is discarded, and the write operation is failed.
I have fixed it in pr https://github.com/imzhenyu/rDSN/pull/145

[2015-12-29 13:47] imzhenyu commented on #41
my bad and nice catch. Guoxi also reports that there are timeouts in the end even without fault injection, now we know why.

[2015-12-30 03:13] #41 closed, assigned to qinzuoyan

[2015-12-30 03:56] qinzuoyan commented on #43
close now, will reopen it if need

[2015-12-30 03:56] #43 closed, assigned to shengofsun

[2015-12-30 03:58] qinzuoyan commented on #39
hi, all, what the status of deploy supporting (both on windows and linux)?
and if supported, is there any document?

[2015-12-30 03:59] #47 closed, assigned to shengofsun

[2015-12-30 04:52] shengofsun opened #146 "Add transaction interfaces meta_state_service"
In order to make create/drop table easy, I want to add transaction interface to the meta_state_service, which can make use of the batch-transaction APIs in zookeeper. But this interface isn't universal enough because a meta_state_service provider  may not support the transaction sematics.
I've added the interfaces on my own branchs and I need your advices @imzhenyu .
You can view the interfaces [h

[2015-12-30 05:38] imzhenyu commented on #146
Hi @shengofsun , I think this is nice and important interface. However, I do have some issues with your interface.

class transaction_entries {
71             public:
72                 virtual ~transaction_entries() {}
73                 virtual bool create_node(const std::string& node, const blob& value = blob()) { return false; }
74                 virtual bool delete_node(const std::string& no

[2015-12-30 05:45] imzhenyu commented on #39
@goksyli writes some documents, and he can show you guys the URL. In both cases, we are using run.cmd or run.sh in our root directory for publish, republish, deployment, start, stop, cleanup, etc.

[2015-12-30 06:25] shengofsun commented on #146
[Here](https://github.com/shengofsun/rDSN/commit/579713f9a24b32ebc4171573c00dcf162fcfcca5) is my commits. In the bottom of this page is the test code on the interfaces, and you can take it as a sample :)

The providers may have different data structures for a transaction operation, so we may avoid memory copy if we let providers implement the transaction_entries. Taking the retrying logic into acc

[2015-12-30 06:33] imzhenyu commented on #146
This actually introduces extra dependencies between the caller and the providers, besides the base interface. In other words, we cannot easily switch to another provider (e.g., etcd-based). This is against one of the major goal in rDSN - things can be developed independently, and they can be integrated seamlessly. I strongly recommend you to remove such dependency and provide general transaction e

[2015-12-30 06:53] qinzuoyan commented on #146
@imzhenyu , I think make trans_entries managed by provider implement is acceptable, and will not break code modularity. When using it, user first call new_entries() to create container, then add operators into container, and then call submit_transaction() to submit it. Using internal created container and using shared_ptr to hold the lifetime will make the interface easy to use, and get better per

[2015-12-30 06:59] imzhenyu commented on #146
My bad - I did not see that new_entries are also part of the bas interface - that's why I feel weird in the first place. In that case, I think it is ok. A nit is to rename new_entries to new_transaction_entries. Sorry for my being careless when going through the code.

[2015-12-30 07:01] qinzuoyan commented on #146
Ok, let's go on

[2015-12-30 07:01] shengofsun commented on #146
Ok, I will rename it next pr :)

[2015-12-30 07:02] imzhenyu commented on #26
closed now, will be re-opened later on demand in later refactoring efforts.

[2015-12-30 07:02] #26 closed, assigned to imzhenyu

[2015-12-30 08:05] goksyli commented on #39
done in #150

[2015-12-30 08:06] goksyli commented on #68
done in #150

[2015-12-31 01:44] imzhenyu opened #153 "secondary context data race when calling replica::close"
when calling replica::close, the checkpoint task for secondary context exists and gone when calling task::cancel, leading to program crash.

[2015-12-31 08:06] imzhenyu opened #156 "performance tuning: performance test rpc with various network providers"
Note: currently, we have to use different config files to do the test; after we enable per-app provider configuration, we can test them in one single process.

[2015-12-31 08:07] imzhenyu opened #157 "performance tuning: performance test file operations with various aio providers"
Note: currently, we have to use different config files to do the test; after we enable per-app provider configuration, we can test them in one single process.

[2015-12-31 08:09] shengofsun commented on #27
description is now added in dist/failure_detector/failure_detector.h

[2015-12-31 08:09] #27 closed, assigned to shengofsun

[2016-01-04 06:11] imzhenyu commented on #153
root cause not found yet, but we add more checks in https://github.com/imzhenyu/rDSN/commit/1c1ff63a49a5f5ae8d2fb427293e52bfce1e310f for better runtime checking.

[2016-01-04 06:13] imzhenyu opened #159 "mutation log gc crashed when all logs are applicable for gc"
the file iterator checking is incomplete, fixed in https://github.com/imzhenyu/rDSN/pull/158

[2016-01-04 07:00] #159 closed, assigned to nobody

[2016-01-04 08:49] goksyli commented on #39
There is a [wiki](https://github.com/goksyli/rDSN/wiki/How-to-Deploy-your-rDSN-applications%28Linux-version%29) for three deployments. And welcome to comment here so that I can improve it to make it more clear.

[2016-01-04 08:50] qinzuoyan commented on #39
Great (zan~)

[2016-01-04 09:01] imzhenyu commented on #39
This is great - let's all try it on our own clusters and provide feedback when possible.

[2016-01-04 09:02] imzhenyu commented on #39
comment 1: need URLs for the section introductions.

[2016-01-04 09:41] goksyli commented on #39
@imzhenyu I don't get the meaning of "section introductions"

[2016-01-04 09:43] imzhenyu commented on #39
I mean these:

•Section 1 for Pure Linux
•Section 2 for Docker
•Section 3 for Kubernetes

Anyway, let's do the review on pull requests, which can be much more efficient by inlining the comments.

[2016-01-05 07:22] #45 closed, assigned to xiaotz

[2016-01-05 07:22] #146 closed, assigned to nobody

[2016-01-05 07:23] #52 closed, assigned to qinzuoyan

[2016-01-05 07:28] imzhenyu commented on #93
fixed and merged in https://github.com/imzhenyu/rDSN/commit/08a069512145a19a203f2883a90363d2eb30015c close now

[2016-01-05 07:28] #93 closed, assigned to nobody

[2016-01-05 07:45] goksyli commented on #68
the issue is done in pr #150
For a tutorial of easy creation a kubernetes, please refer [here](https://github.com/goksyli/rDSN/wiki/A-easy-walkthrough-for-setting-up-a-Kubernetes-cluster-on-Ubuntu%28-multinodes-%29)

For a tutorial of kubernetes deployments, please refer [here](https://github.com/goksyli/rDSN/wiki/How-to-Deploy-your-rDSN-applications%28Linux-version%29#3-deployment-on-kubernetes)

[2016-01-05 07:45] #68 closed, assigned to goksyli

[2016-01-05 07:48] goksyli commented on #39
the issue is done in pr #150

For a tutorial of three approaches of deployments, please refer [here](https://github.com/goksyli/rDSN/wiki/How-to-Deploy-your-rDSN-applications%28Linux-version%29)

[2016-01-05 07:48] #39 closed, assigned to goksyli

[2016-01-06 11:30] imzhenyu commented on #153
Ok, it seems that the root cause is as follows:

for:

[code]

xxx may execute first before the assignment to t, which leads to the following stmts invalid:

[code]

as the assignment may happen after the check above.

I'm going to add C++ interface for tasking::enqueuer to avoid this when needed. The C interface is somehow ok.

We also need to review the other C++ interface for AIO, RPC, etc. as

[2016-01-07 02:42] imzhenyu opened #171 "learning assertion failure"
[code]

in replica_learn.cpp

Logs are missing - need further test to re-pro the scenario.

[2016-01-07 02:57] imzhenyu opened #172 "replication log commit failure"
[code]

in replication_app_base::dispatch_rpc_call.

The root cause is that we store the rpc code as integers in logs. After code change, i.e., more task codes are introduced in this case, the same integer is not mapped to the same rpc string code anymore. Need to be fixed next.

[2016-01-07 02:58] imzhenyu commented on #153
fixed in above pr, specifically in commit https://github.com/imzhenyu/rDSN/commit/b4de8ef95449c66dd9cc2366d5b77c2454c9a5c1

[2016-01-07 02:58] #153 closed, assigned to imzhenyu

[2016-01-07 07:54] glglwty opened #175 "latency in shared mutation log"
# problem

Currently in shared mutation_log, an append operation would dispatch a file::write if is_writing is false. For shared log, if it is delayed by is_writing and then the replica stopped doing init_prepare task, the shared log might never be written to the disk.
# possible fix

Bypass all the issued_write, pending_write stuff for shared log.
# discussion

The behavior of shared log and priv

[2016-01-07 11:08] imzhenyu commented on #175
Let's fix the perf issue first. Refactoring can be done later.

[2016-01-08 15:12] imzhenyu commented on #172
the fix is still incomplete - the client may have different versions of code compared to the servers, in which case we need to have all task code transmitted as string instead of integers.

[2016-01-08 15:14] #175 closed, assigned to nobody

[2016-01-11 03:59] qinzuoyan opened #180 "transfer error_code in string but not in int"
now in replication.thrift, there are many places transfering error_code in int format, but different endpoint processes may have different versions of code, so we should change to transfer error_code in string but not in int.

[2016-01-11 04:01] qinzuoyan commented on #172
the above problem is now deal in another issue #180.
close this issue now.

[2016-01-11 04:09] imzhenyu commented on #172
@qinzuoyan this case is a little bit different compared to error code. Currently for the case of replicated read/write, the task code is embedded as part of the msg body using intergers. There are two ways to fix: (1) change int to string in the msg body - which is a quick way to do; (2) change msg header rpc string to this task code string directly, and using context flags to identify this is a r

[2016-01-11 10:22] shengofsun commented on #50
resolved in pr #174

[2016-01-11 10:22] #50 closed, assigned to shengofsun

[2016-01-11 10:26] shengofsun commented on #115
@imzhenyu, the code piece here is fine to fix the "strerror" bug, but I can't find it in our project. So is it OK if I add this to our project and change all the function calls to strerror?

[2016-01-11 11:46] imzhenyu commented on #115
That will definitely help~

[2016-01-13 06:27] qinzuoyan opened #188 "hpc_logger lost last lines when core"
when using hpc_logger, if coredump, the last (also the most important) lines will lost because not flushed.

[2016-01-13 06:37] imzhenyu commented on #188
Windows allows register an exception handler via ::SetUnhandledExceptionFilter(TopLevelFilter); I'm not sure how Linux does this. If you can register a handler which calls ::dsn::tools::sys_exit.execute(SYS_EXIT_EXCEPTION), then the issue should be fixed.

[2016-01-14 07:58] imzhenyu opened #195 "upgrade to C++14"
Hi there,

Per discussion with the others (esp. Tianyi), we are proposing to upgrade our base requirement from C++ 11 to C++ 14. The reason is to avoid certain performance overhead due to the missing features in C++ 11 (e.g., capture and move). This issue request aims at collecting all the necessary changes and possible upsides/downsides of this upgrade, so we can have a smooth one-shot action lat

[2016-01-14 08:00] imzhenyu commented on #195
Here is the least changes in my mind:
(1) appveyor
(2) build script for windows
(3) wiki for stating our base requirement for adoption

[2016-01-14 08:01] glglwty commented on #195
The most needed feature in my mind is generalized lambda capture, which has been supported since gcc4.5, clang 3.4 or VS2015.

### why generalized lambda capture

We have a lot of callback-managed-lifetime patterns in our code. For example in mutation_log.cpp:

[code]

Here `_pending_write_callbacks` would be immediately dropped when the std::bind object is dropped. In order to ensure its lifetime

[2016-01-14 08:03] imzhenyu commented on #195
@glglwty you may share certain links about these interesting features so others like me not familiar with that can know.

[2016-01-14 09:04] qinzuoyan commented on #195
Looks amazing. How can you know so many things, @glglwty ?
But I think we should firstly release a stable version, and these optimizations are not so argent.
From our initial testing, the performance is good enough. So I think the current most important thing is to provide a usable and stable system to our users. Many people are looking forward to use our system in XiaoMi.

[2016-01-14 09:20] glglwty commented on #195
@qinzuoyan I'm just optimizing around RPC performance. I did profiling for empty RPC call and found that many unnecessary allocation actually happens in our EON layer. Creating a task takes one `malloc` in ZION (new task_c) but uncountable `malloc`s in EON. Optimizing std::function stuff should eliminate some of them and C++14 is a necessary tool.

What we concern is the actual GCC version you use

[2016-01-14 09:35] glglwty commented on #195
By the way, I'm interested in the performance result you get. Can we have a copy of it? A "good enough performance" is an exciting news for me!

[2016-01-14 10:33] qinzuoyan commented on #195
OK, I'll append the result to #54

[2016-01-15 01:28] imzhenyu commented on #195
Great. I don't see objections so far. I will start the upgrade now.

[2016-01-15 04:22] imzhenyu commented on #195
Done.

[2016-01-15 04:22] #195 closed, assigned to nobody

[2016-01-18 04:37] qinzuoyan opened #207 "fix memory leak problem"
When doing perf test, we found obvious memory leak. So we should fix the problem by valgrind and windbg.

[2016-01-18 05:16] glglwty commented on #207
It might be my last pull request that introduce memory leak. Let me reason about it.
The reason might be circular reference in `safe_task`s. If that's the problem we might use strong/weak reference to address the problem.

[2016-01-18 05:17] qinzuoyan opened #208 "fix fcntl() bug in io_looper"
There is a bug in io_looper:

[code]

source code:

[code]

[2016-01-18 06:09] imzhenyu commented on #207
@glglwty I remember this case. Check the task_ptr inside mutation object, which also capture the mutation ptr inside them, leading to circular references. So we still need to nullify the closures to break the cycles.

[2016-01-18 07:43] glglwty commented on #207
I'm analyzing memory allocation with some tools. So far I find nothing wrong.
Report:
https://gist.github.com/glglwty/fd766fa7cfe3d53deef3

[2016-01-18 07:47] imzhenyu commented on #207
Thx Tianyi. note there is a "DecodeLeakResultsStack Failed!" at the end of the file, not sure it implies that the report is incomplete ...

[2016-01-18 08:58] imzhenyu opened #210 "log file ctor assertion failure"
when run perf-test.sh for simple-kv under Linux, we got:

08:33:18.125 (1453105998125708440 3133) replica1.THREAD_POOL_REPLICATION_LONG7.0303000100123000: assertion expression: false
08:33:18.125 (1453105998125752230 3133) replica1.THREAD_POOL_REPLICATION_LONG7.0303000100123000: fail to get file size of /home/zhenyug/projects/rDSN/builder/bin/dsn.replication.simple_kv/data/replica1/1.0.simple_kv/p

[2016-01-18 09:04] qinzuoyan commented on #210
are there more helpful logs?

[2016-01-18 09:06] imzhenyu commented on #210
I'm re-running the test with more tracing options now.

[2016-01-18 09:47] glglwty commented on #207
Here is another report.
https://gist.github.com/glglwty/f0ae047790303653c213

[2016-01-18 09:50] qinzuoyan commented on #54
We have adapted rocksdb's db_bench to rrdb_bench (refer to https://github.com/imzhenyu/rocksdb/pull/8), and do some test on our servers.

server: Intel(R) Xeon(R) CPU E5-2620 v3 @ 2.40GHz \* 24, Memory 128G, with Hard Disk
network: GbE, with ping 0.03~0.05ms

### rocksdb test

[rocksdb set] command

[code]

critical config: disbale WAL, disable compression, sync=false
[rocksdb set] result

[code]

[2016-01-18 09:52] imzhenyu commented on #207
The outstanding memory size is only around 52 MB. It is best if we can push the workload further which may make it easier for us to find the leaks (if exist).

[2016-01-18 09:58] imzhenyu commented on #54
what is the original number (local rocksdb)?

[2016-01-18 10:23] qinzuoyan commented on #54
@imzhenyu , original number provided as above.

[2016-01-18 10:50] glglwty commented on #207
A 250MB one:
https://gist.github.com/glglwty/6f41567be7950b77e737

[2016-01-19 01:36] imzhenyu opened #211 "boost optional introduces unncessary dependency to the rdsn apps"
e.g., rrdb (replicated rocksdb) cannot compile now due to missing boost packages. We have to remove this dependency to avoid asking each rDSN user to install boost on their machines.

[2016-01-19 03:39] qinzuoyan commented on #211
@glglwty , it seems your last commit to 'include/dsn/cpp/task_helper.h' brings in the "boost/optional.hpp", which makes rDSN header depending on boost. Would you remove the dependency?

[2016-01-19 04:20] glglwty commented on #211
Yes, I will try to implement the same functionality within rDSN.

[2016-01-19 14:16] imzhenyu commented on #211
fixed by @glglwty in https://github.com/imzhenyu/rDSN/pull/213

[2016-01-19 14:16] #211 closed, assigned to glglwty

[2016-01-20 05:19] imzhenyu opened #215 "build.cmd in rdsn-python does not work for pip installation"
The script does not install pip successfully, therefore the following required packages as well. Please fix and try on a clean machine.

[2016-01-21 08:52] mcfatealan commented on #215
Ok, I'm downloading win10 iso on my mac, I'll try it when finished.

[2016-01-21 09:39] imzhenyu commented on #215
@mcfatealan Thx, Chang.

[2016-01-21 15:50] mcfatealan commented on #215
Fixed in https://github.com/mcfatealan/rDSN.Python/commit/e5342f06283a3bc1e96255673075fcca9e81f3dc
Sorry for committing late. Network bandwidth at my home is much narrower than at MSRA. Everything takes a decade to download.

[2016-01-21 16:27] #215 closed, assigned to mcfatealan

[2016-01-22 02:00] imzhenyu opened #226 "failure model for tcp network is incorrect"
Currently our fault injection simply drops messages for any network, which is however not necessarily right for certain networks, such as TCP. For example, we cannot drop one message but continue send the next correctly using one same tcp session.

[2016-01-22 02:06] qinzuoyan commented on #226
So how should we do? just close the session?

[2016-01-22 03:02] imzhenyu commented on #226
We will add a network specific callback and each network should implement their own failure model. i'm working on it. Specifically  for TCP, I think closing the socket to mimic network disconnection is fine.

[2016-01-22 03:19] qinzuoyan opened #227 "auto generate replication.types.h from replication.thrift"
#### Problem

now the replication.types.h is modified from the one that is auto generated by replication.thrift, the problem is, if we add/modify some struct/interface in replication.thrift, then we need to copy code from generated replication.types.h, which is a boring and error-prone work.
#### Solution

just auto generate replication.types.h from replication.thrift, that means, we should not mo

[2016-01-22 05:43] qinzuoyan opened #229 "callback immediately when rpc fail"
now if rpc fail for reasons of connection refused, disconnected by remote peer and so on, the response callback will be called by timeout task, which may takes a long time.

[2016-01-22 06:56] imzhenyu commented on #229
Working on it now.

[2016-01-22 06:58] #226 closed, assigned to imzhenyu

[2016-01-22 07:56] #108 closed, assigned to imzhenyu

[2016-01-22 12:34] qinzuoyan opened #232 "fix mismatched new/delete/malloc/free problem"
by the method of ""std::shared_ptr<char> buffer(new char[len], [](char* ptr){ delete []ptr; });".
review the code to fix all places, including blob.

[2016-01-22 14:41] glglwty commented on #227
We can do codegen at build time and remove all unmodified generated files from codebase.

[2016-01-25 04:37] shengofsun opened #233 "bug in asio_rpc_session"
@imzhenyu, you may want to run perf-test when the fault injector(for tcp model) is enabled with native run. I encountered core dump several times.

Here is the stack trace:

[code]

I suspect this is due to the socket is closed by fault injector but other threads is reading/writng on the socket.

[2016-01-25 04:42] imzhenyu commented on #233
@shengofsun yes, our new network failure model will close the socket when other threads is read/writing on the socket. I assume this will only trigger some error code to the read/write ops, but will not lead to crash. I will look into it once I reproduce this scenario.

[2016-01-25 10:02] imzhenyu commented on #233
Another way is to refine the net failure model by not closing the socket, but using setsockopt to block the incoming/outgoing traffic instead.

[2016-01-25 12:16] shengofsun commented on #233
I'd prefer closing the socket, because I think it is closer to the real world's tcp failure model. Besides, closing the tcp socket helps to test some corner case of the rpc_session.

[2016-01-25 12:53] imzhenyu commented on #233
Of course. The question is whether closing the socket in asio is a valid operation in terms of thread safety. We want to mimic the real world's failure but we don't want to violate the programming constraints.

[2016-01-25 17:04] #229 closed, assigned to imzhenyu

[2016-01-26 01:42] imzhenyu commented on #233
@shengofsun I cannot reproduce this on my machine. Is it because the async-read/write ops may throw exceptions when the other threads call socket::close() concurrently, which leads to the coredump as we don't have C++ catch around the two apis there? If that is the case, I think adding C++ exception handling may fix the issue.

[2016-01-26 05:43] shengofsun commented on #233
OK, let me try to locate the root cause later.

[2016-01-26 08:24] qinzuoyan opened #240 "support mutiple data directories and multiple devices"
#### Problem

In deploy environment, there are usually more than one storage devices, e.g., on our server, there are 8 ssd devices (each 0.8T).

Now our system can only use one device in one process, we'd better improve the system to support mutiple data directories and multiple devices.

[2016-01-26 08:29] imzhenyu commented on #240
Two ways: (1) data_dir to data_dirs[] in service spec; (2) customized configuration in each app. I think (2) is much simpler.

[2016-01-26 08:36] qinzuoyan commented on #240
i think it is more complicated, discuss as:
- start more than one replica app in one process, and each replica app occupies a device
- start only one replica app in one process, and config data_dir to data_dirs[], and the replica_stub is responsible for distributing replicas to proper devices, considering storage space and load balance.

[2016-01-26 08:43] imzhenyu commented on #240
I think starting one replica app is fine, and you can add more configurations such as replication-log-dir, replication-app-dirs.[] and use them in replica-stub.

[2016-01-26 08:46] qinzuoyan commented on #240
sure, I am thinking about it, and the difficulty is using different data dirs for different replicas.

[2016-01-27 05:32] imzhenyu opened #244 "add limited key space for stable memory consumption for perf stress test"
### Problem

 The memory goes up in stress test as we don't have bound in the key space of insert/put etc.
### Solution

  Add a new configuration in perf-test called "perf_test_key_space_size" and pass it to send_one_xxx to limit the key space.
### Note

  This is of low priority, will be done later.

[2016-01-27 05:58] imzhenyu commented on #207
We've looked into the memory leak problem again this morning with the version https://github.com/imzhenyu/rDSN/commit/8b936ea4c196dd7c54bd860611e0617439785a8c
And we don't find leaks any more.

Here are some scenarios that may allocate more memory but should not be considered memory leak.
- each thread has some tls buffer, e.g., transient memory, which allocates a 1-MB buffer on demand
- task queu

[2016-01-27 06:20] shengofsun commented on #207
Thx. We have recently tested the system on our server, the memory usage is indeed steady. So the memory leak I encountered before may be due to I didn't run the system for a long time.

[2016-01-27 06:33] qinzuoyan commented on #207
cool~

[2016-01-27 06:49] qinzuoyan commented on #240
#### Resolution

In pr #246, I implemented a simple way to support separated slog_dir and multiple data_dirs as:
- add [replication].slog_dir config to specify shared log directory. The real used dir is:
  - if config[slog_dir] is empty: **_${app_dir}/slog**_
  - else: **_${config[slog_dir]}/${app_name}/slog**_
- add [replication].data_dirs config to specify replica data directories. The real used

[2016-01-27 06:56] #227 closed, assigned to nobody

[2016-01-27 07:02] imzhenyu commented on #207
so we are good to close now :-) will open again if the issue surfaces later.

[2016-01-27 07:02] #207 closed, assigned to glglwty

[2016-01-27 08:15] #240 closed, assigned to nobody

[2016-01-27 13:02] qinzuoyan opened #248 "while loop bug when connection timed out"
telnet test:

[code]

when using rDSN rpc to send request to "10.112.3.11:34601", will print lots of warnings:

[code]

the related code is in **_rpc_engine::call_ip()**_.

[2016-01-28 06:33] glglwty opened #250 "shared library initialization order problem"
Currently I cannot run simple_kv on linux at the point of ad1b1d3e7112cea6e0efa691ce46946e4e0cbf61. It seems that dsn_module_init of dsn.core.so (called by `__attribute__((constructor))`) is called before the static initialization of some custom_id (those objects is linked by `__attribute__((weak))`). I use gcc 4.8.4,glibc `EGLIBC 2.19-0ubuntu6.6` and it is 100% reproducible. It may be related to

[2016-01-28 07:22] shengofsun commented on #250
@glglwty this is because the bug of src/core/core/message_parser.cpp(line 102),  function message_parser_manager::message_parser_manager(), the resize should be max_value + 1.
I've fixed

[2016-01-28 07:42] #250 closed, assigned to nobody

[2016-01-28 07:43] glglwty commented on #250
right. It seems I was just wasting time.

[2016-01-28 07:56] shengofsun commented on #250
Well, my time has been wasted on this T_T.

[2016-01-28 08:44] qinzuoyan opened #252 "make mutation_2pc_min_replica_count depending on replica_count of table"
#### Problem

Now the **_mutation_2pc_min_replica_count**_ is set in config file, and all replicas use the same one, then the problem is: if there are different replicas of different tables which have different **_replica_count**_, then use the same **_mutation_2pc_min_replica_count**_ is improper anymore.
#### Resolution

We can calculate the **_mutation_2pc_min_replica_count**_ from **_partition

[2016-01-28 09:38] qinzuoyan opened #253 "collect replica space usage info"
it is important to collect space usage info of all replicas

[2016-01-28 12:34] qinzuoyan commented on #54
### Another test for SSD

**_Deployment**_
- start 3 replica-server processes on the same machine
- create 1 table "test": partition_count=3, replica_count=3

**_Machine**_
c3-hadoop-tst-pegasus-ssd4-st01.bj  (24 core \* 2.10GHz, 64GB memory, 4 ssd)

**_Build**_
$ ./run.sh build -t release

**_Test(run in rocksdb/ dir)**_
$ ./run.sh start_onebox
$ ./dsn.ddlclient config.ini create_app -name test -

[2016-01-28 14:31] imzhenyu commented on #252
confused ... I thought you were talking about different apps may have different requirements of reliability (i.e., replica count). In this case, we can put this into the app specific configuration on meta server, which is further broadcasted to the replica servers.

[2016-01-28 14:32] imzhenyu commented on #252
As for majority, our protocol does not really require majority at all as long as we think reliability is enough (e.g., we can have 2 replicas out of 5 being alive in our secondary set).

[2016-01-29 01:40] imzhenyu opened #255 "learning not success forever"
After running over-night with stress test, the learning has been failed forever after several hours testing ...

[code]

[2016-01-29 02:31] qinzuoyan commented on #255
So why learning failed? Maybe you can paste some error logs here :)

[2016-01-29 03:43] imzhenyu commented on #255
yes, sure. I don't find the error logs yet - that is the problem. All logs now working on replaying ... Need to reset the log gc policy to see earlier logs.

[2016-01-30 04:41] qinzuoyan commented on #54
### More test for SSD

**_Deployment**_
- start 3 replica-server processes on 3 machines (one machine one replica-server)
- create 1 table "perftest": partition_count=32, replica_count=3, and **_arrange all primary replicas to one replica-server (named as primary-replica-server)**_
- there are 8 SSDs on each server, we put shared log on ssd1, and arrange replicas' data on ssd2~ssd8.
  - `slog_dir

[2016-02-01 02:49] #255 closed, assigned to nobody

[2016-02-01 06:48] #244 closed, assigned to nobody

[2016-02-01 07:28] imzhenyu opened #261 "handler map in app replication base has race on unregistration"
### Problem

handler map is also used by read requests, which have race when the replication.long thread is unregistering the handlers on replica::close.
### Solution

use separated handler maps for reads & writes; use ref counter to ensure the handler is valid in read map.

[2016-02-01 10:20] xiaotz opened #262 "latest version have mem leak again"
commit: 123e930fd7faf41671a999c99f228b8aada8f25f

[2016-02-01 11:40] imzhenyu commented on #262
@xiaotz can u illustrate how to repro the leak? Thx.

[2016-02-02 02:10] xiaotz commented on #262
@imzhenyu I found that on our cluster using performance monitor provided by monitor.

I use 3 machines to form the replica group, each machine have 64G memory, 24 cpu cores. I create an app with 32 replicas and fill it with rrdb_bench tool, I found the latency increasing during data filling. and notice that there is a memory leak through our perf monitor. the memory usage is almost 64G on each mac

[2016-02-02 02:14] imzhenyu commented on #262
Thanks @xiaotz. Is the monitor you are using Xiaomi's internal tool or the one we provided in rDSN-Projects/rDSN.Python repo?

[2016-02-02 02:22] xiaotz commented on #262
it an internal tool

[2016-02-02 08:05] #261 closed, assigned to imzhenyu

[2016-02-02 23:48] #262 closed, assigned to imzhenyu

[2016-02-03 01:43] imzhenyu opened #268 "too many memory allocation for msgs and tasks"
better to use memory pool to remove most of them.

[2016-02-03 01:44] imzhenyu opened #269 "too many shared_ptr ops and allocation in rpc calls"
use on-stack request and response, as well as std::move instead to reduce the cost, suggested by @glglwty

[2016-02-03 02:01] imzhenyu opened #270 "too many timers executing at the same time"
#### Problem

Too many timers executing at the same time, which causes time-out of 2pc.
#### Solution

Timers are given randomized delay on first enqueuer if the set-delay == 0 to avoid simultaneous execution.  This has been considered already previously, but unforturnately, the delay is overwritten by later call of dsn_task_call. We now randomize the delay in enqueuer instead of in ctro to avoid

[2016-02-03 05:04] #269 closed, assigned to nobody

[2016-02-03 05:04] #270 closed, assigned to nobody

[2016-02-03 08:06] imzhenyu commented on #268
RtlAllocateHeap/RtlFreeHeap on windows is reduced from 24%/12% to 5%/7.7% in terms of total computation time after #273

[2016-02-03 08:28] #268 closed, assigned to nobody

[2016-02-04 09:57] qinzuoyan opened #277 "Happy Chinese New Year~"
@imzhenyu @shengofsun @xiaotz @goksyli @mcfatealan @glglwty @ykwd , hope you all grab lots of red envelopes~

[2016-02-04 10:01] imzhenyu commented on #277
Thanks @qinzuoyan, the same to you. Happy holiday to all as well~ Let's look forward to a fruitful year ahead:-)

[2016-02-05 05:03] imzhenyu opened #279 "rpc handler lookup using string is costly"
### Problem

In order to avoid inconsistent mappings from rpc string code to rpc interger code, we now always using rpc string code to look up rpc handler on server, which is costly.
### Solution

when the client and server software are with the same version, this cost can be avoided. We therefore transmit binary hash and interger code as well in msg header, and use interger for rpc handler lookup

[2016-02-05 05:22] imzhenyu opened #280 "time estimation based throttling (request rejection) is too costly and tricky"
### Problem

it needs quite some runtime resource to do the data collection and computation, and it has bugs in certain cases which may leads to a lot of false positives.
### Solution

Simply the throttling using easier and robust ways.

[2016-02-05 08:41] #280 closed, assigned to nobody

[2016-02-05 14:43] imzhenyu commented on #279
fixed by #281

[2016-02-12 02:36] imzhenyu opened #282 "document for layer 1 needs to be refined before v1 release"

[2016-02-13 13:44] imzhenyu commented on #282
Draft version of the document generated from the comment in code using doxygen is updated at http://imzhenyu.github.io/rDSN/documents/v1/html/modules.html

[2016-02-15 05:05] linmajia opened #285 "May need to bind the socket to io looper before executing connect() and listen()."
Line 683, hpc_network_provider.linux.cpp. If the connection succeeds very fast before binding the handle, is it possible to lose the success event? The same for listen(). We may test this case by placing a delay before line 683 to ensure that the connection succeeds in time.

[2016-02-15 06:44] imzhenyu commented on #282
further updated by https://github.com/imzhenyu/rDSN/pull/286

[2016-02-16 04:36] imzhenyu opened #287 "http header support in network"
Support http in all network providers by providing a new message parser that parses and composes http headers.

[2016-02-16 04:38] imzhenyu commented on #287
@glglwty You may integrate the project from https://github.com/nodejs/http-parser as an external project to implement this.

[2016-02-16 04:40] imzhenyu opened #288 "support automatic data encoding/decoding using thrift in C++, C#, and Java"
### Problem
- Our http monitor requires json encoding/decoding of the TRequest/TResponse of rpc calls.
- Our layer3 generate code in C#, which requires C# data encoding/decoding given a thrift idl file
### Solution

Let's get general support of TRequest/TResponse marshall/unmarshall for various languages (C++/C#/Java) and format (binary/binary-compact/JSON) with thrift.

[2016-02-16 04:41] imzhenyu commented on #288
together with #287 , we can support http requests used by the http monitors running in browsers

[2016-02-16 04:45] imzhenyu opened #289 "multi-node cli commands request and response manager support"
we would like to have a multi-node cli command manger similar to our counter manager in monitor:
- developers write a cli command
- developers select the multiple machines they want to send the cli command to, with running interval
- developers click run, and get a view where the responses from multiple machines are automatically visualized as a table (may be nested when the response in json forma

[2016-02-16 04:46] imzhenyu commented on #285
Thanks, @linmajia. @shengofsun this may be related to the io-looper bug issue, would you please handle this issue together when you debug that problem? thx.

[2016-02-16 04:52] imzhenyu opened #290 "support same client rpc calls to the L1 and L2 services"
### Problem

Currently, our client library for L1 (single node service) and L2 (replicated node service) is different, i.e., we have some wrappers of L1-client as L2-client, mostly focusing on querying the meta server for where the target node is, and augment the message to add meta data for L2 usage. As we now have multiple language wrappers for L1, we wan to reuse them for L2, instead of having

[2016-02-16 05:00] imzhenyu opened #291 "add support of stateless service membership management in L2 meta server"
### Motivation

L3 requires a meta server and a local daemon to support scheduling and membership management of L2 stateless services. We now have a prototype in C# from TRON project. However, we don't have the full features such as reliability support in meta server. On the other hand, our L2 for replicated stateful service part has a much better meta server, where many features can be leveraged.

[2016-02-16 05:06] imzhenyu commented on #288
@ykwd You may look into protocs or bond as well, and you may prefer whichever seems simplest to implement first.

[2016-02-16 05:24] mcfatealan opened #292 "handle server crash on browser side and add connection-lost sign"
At the present the browser will hang up and go blank when server side crash, we need to handle this situation and give more user-friendly sign to inform the accident (now the browser would bump out a warning).

[2016-02-16 07:41] mcfatealan opened #293 "update rDSN.Python due to changes in rDSN"
A new [commit](https://github.com/imzhenyu/rDSN/commit/7dbbcbeb899335d7eb755839adde657b4a2ead60) in rDSN did the following modifcations:
- rename file `include/dsn/ports.h` to `include/dsn/internal/ports.h`
- replace the function `dsn_register_app_role` with another
- ...

We need to do the corresponding changes on rDSN.Python.

[2016-02-16 07:43] imzhenyu commented on #293
this is indeed a big issue as the same problems applied to other language wrapper as well. Let's move these language wrappers back into the main repo so it is easier to make them consistent with our core.

[2016-02-16 07:45] imzhenyu opened #294 "move language wrapper rdsn.python and rdsn.java back to main repo"
### Problem

As the core changes, it easily break the contract of the other language wrappers not in the main repo. This happens several times and it is really annoying.
### Solution

Move them back into the main repo under src/dev/$language$, and use contiguous-integration test to ensure the consistency. Make sure the development history is preserved though.

[2016-02-16 08:14] mcfatealan commented on #293
Done in [https://github.com/rDSN-Projects/rDSN.Python/pull/16](https://github.com/rDSN-Projects/rDSN.Python/pull/16), please review @imzhenyu . Already tested, building succeeded and ran well.

[2016-02-16 08:23] imzhenyu commented on #293
done~ thx~

[2016-02-16 08:23] #293 closed, assigned to mcfatealan

[2016-02-18 03:40] shengofsun commented on #279
Bugs exist in this fix because the binary hash is generated when the compilation unit "rpc_message.cpp" is compiled, but not the executable binary is compiled. So different binaries may share the same hash if they link the same static/dynamic library.

[2016-02-18 03:45] imzhenyu commented on #279
Nice catch. Thx so much, @shengofsun. Moreover, even the binary is the same, if they load different dynamic libraries which register more RPC codes, the mapping could be inconsistent.

Let's expose this to developers then, i.e., they can assign a binary hash (or a version with which same version implies the rpc message mapping is the same) to use this optimization. I'll come up a quick fix for thi

[2016-02-18 03:58] qinzuoyan commented on #279
@imzhenyu , I think if the optimization is tricky and error-prone, is it better to remove the optimization?
In essence, if two binaries are the same, then we can use integer code directly. So the ideal binary hash is just hash of the binary file, but not generated at compile time. (Because task codes are assigned at runtime, but not at compile time)

[2016-02-18 04:22] imzhenyu commented on #279
@qinzuoyan the problem is that even for the same binary, the mapping could be different, as they may load different versions of dynamic libraries which registers different rpc code. I think the optimization is worthwhile as long as we have the same binaries (including main executable and other dynamic libraries) & same configuration, which will be the common truth when deployed on production clust

[2016-02-19 07:31] imzhenyu commented on #188
So this is fixed and we may close the issue? @shengofsun @qinzuoyan

[2016-02-19 07:32] imzhenyu commented on #180
@qinzuoyan is this done and can we close this issue now?

[2016-02-19 07:34] imzhenyu commented on #32
rpc throttling is done by https://github.com/imzhenyu/rDSN/pull/278 for others, they are driven by rpc request, so we don't do the throttling right now.

[2016-02-19 07:34] #32 closed, assigned to nobody

[2016-02-19 07:38] imzhenyu opened #301 "ddlclient is built as a in-core component?"
I don't see the necessity of having this project an in-core project, which requires linking lots of static libraries. Instead, we can make it a L1 application, which requires linking dsn.core.so and cpp/replication libs etc. only.

[2016-02-19 07:39] imzhenyu commented on #301
@qinzuoyan please take a look and see whether we can change the project type as we done for other projects like replication etc.

[2016-02-19 07:39] imzhenyu commented on #279
I'm c

[2016-02-19 07:39] #279 closed, assigned to nobody

[2016-02-19 12:43] qinzuoyan commented on #180
Yes, done

[2016-02-19 12:43] #180 closed, assigned to nobody

[2016-02-22 02:56] mcfatealan commented on #289
Done in https://github.com/rDSN-Projects/rDSN.Python/pull/17, please review @imzhenyu .

[2016-02-22 03:06] mcfatealan commented on #292
I'm going to rewrite the front-end using vuejs and check js codes to see where problem is.

[2016-02-22 03:08] imzhenyu commented on #289
Nice work, @mcfatealan You may demo this in today's sync meeting.

[2016-02-22 03:11] mcfatealan commented on #289
No problem, it's important to receive feedback from you~

[2016-02-23 03:01] mcfatealan commented on #289
Feedback Note:
Put the result on the top and allow the table to hide specific items

[2016-02-23 14:13] #287 closed, assigned to glglwty

[2016-02-24 02:29] qinzuoyan commented on #287
@glglwty great work. And how can we use it? and unit-test?

[2016-02-24 02:43] imzhenyu commented on #287
@qinzuoyan this work item needs to work together with #288, which enables htttp msg header and json msg body, together enabling so-called restful RPC. since #288 is not finished yet, we don't have unit-test yet.

[2016-02-25 03:13] imzhenyu opened #305 "access-all-partitions pattern not supported in current L2 client"
#### Problem

In our current design, L2 client can only be used to access one specific partition of an application. However, there are usage patterns that requires accessing all partitions in an application, e.g., look up all related document IDs using a keyword when the lookup tables are partitioned by document ID in search.
#### Solution

We use a special partition-hash (e.g., -1) to represent t

[2016-02-25 03:54] imzhenyu opened #306 "later messages are not parsed correctly when parsing of one previous message failed"
#### Problem

In current message parser, when there is a format failure, the parser simply return null and asks for more recving data for trying again later. This blocks the later messages when the current message is mal-formatted instead of the data the incomplete.
#### Solution

need to change the base class of message parser so it can close the rpc session to allow for further messages come in

[2016-02-25 09:45] imzhenyu commented on #288
pr from https://github.com/imzhenyu/rDSN/pull/308 also fixes this issue partially @shengofsun

[2016-02-29 03:42] imzhenyu commented on #290
Done at https://github.com/imzhenyu/rDSN/commit/4c3c028fd4448906ec84f82bcff76b68477c88d4 and previous 4 commits at branch layer2. An examples is done (check macro TRANSPARENT_LAYER2_CLIENT in code). This will remain in layer2 since it lacks tests and we are still working on same application model across layer 1 & 2 for server.

@qinzuoyan You may take a look and see whether it may help your curren

[2016-03-02 06:47] egmkang opened #312 "compile error"
src/dist/cluster_scheduler/scheduler_providers/docker_scheduler.cpp  +123

[code]

[2016-03-02 07:05] imzhenyu commented on #312
Thanks @egmkang. This is indeed a problem, not sure why our current compilation all succeeds:)  We will fix it in our next change.

[2016-03-02 07:50] mcfatealan opened #314 "rDSN.Python call dsn_cli_run coredumps"
#### Problem

in rDSN.Monitor, repeatedly request counter view will result in rDSN coredumps. The call stack shows that python tries to access a invalid address in function "dsn_cli_run -> Py_BuildValue".
#### Solution
1. in rDSN we fix a small bug that happens when it try to strcpy an illegal string. See https://github.com/imzhenyu/rDSN/pull/313
2. in rDSN.Python we walk around Py_BuildObject(),

[2016-03-03 02:40] #314 closed, assigned to nobody

[2016-03-21 00:51] imzhenyu commented on #288
@ykwd , there are some problems with the latest layer 3 repo on my machine, please take a look:
- dsn.cmake
  `message(FATAL_ERROR "thrift serialization currently only support Linux")`
   but we do support windows now, right?
- default configuration type is Win32 in VS solutions
  any changes to lead to this problem?
- boost is now pulled everytime when we do the rebuild, which is too heavey. Note

[2016-03-21 02:39] ykwd commented on #288
default configuration type is Win32 in VS solutions : This is indeed a problem. I will try to fix it.

boost : This problem has been solved with the recent 2 pr, which are still open.

dsn.cmake : oh, I see it. @shengofsun  has done something with thrift on Linux, when thrift is only available on Linux. Now thrift is available on Windows, and I am not sure if this is also work on his part on Windo

[2016-03-21 04:48] ykwd commented on #288
For the problem of default configuration type. It is said that cmake can't specify generator in CMakeLists.txt but can only specify it on cmd command, for example, with -G "Visual Studio 14 2015 Win64" (which is previously post on rdsn tutorial and is used in build.cmd), or with -DCMAKE_GENERATOR_PLATFORM "x64".
 So, @glglwty , if you use default cmake command to automatically build composite dlls

[2016-03-21 06:42] shengofsun commented on #288
@ykwd I've sent you an email to talk about the thrift problem a few days ago, but didn't get your reply. Maybe it is in your trash?
In the layer3 branch, the thrift won't work on Linux either. And currently there are two files named "thrift_helper.h": "dsn/thrift_helper.h" and "dsn/idl/thrift_helper.h". And I guess the latter won't work fine.
Maybe we need a talk to deal with this.

[2016-03-21 06:51] ykwd commented on #288
@shengofsun  sorry that I have neither found the email in my Inbox nor in my Junk-Email list. I notice that you have an account of Slack, can you receive my message on it?

[2016-03-21 07:19] shengofsun commented on #288
@ykwd  i'm online now.

[2016-03-21 07:36] shengofsun commented on #288
@ykwd  the slack website is blocked. Can we talk with skype(weijie_sun@hotmail.com)?

[2016-03-22 07:27] imzhenyu commented on #291
implemented by
https://github.com/imzhenyu/rDSN/commit/eae53d398873394168be127ee095da4d1657029d
https://github.com/imzhenyu/rDSN/commit/cefe08f1ae5b3cfb305af671a1947ca0397962e5
 #335
etc.

[2016-03-22 07:28] #290 closed, assigned to imzhenyu

[2016-03-22 07:28] #291 closed, assigned to imzhenyu

[2016-03-22 07:34] imzhenyu opened #336 "enable same application model for layer 1 and layer 2"
### Problem

Currently, we ask developers to write two different versions of service application to fit into the framework from layer 1 and layer 2, respectively. Meanwhile, at layer 2/stateful, we only support applications implemented in C++. This way is not only tedious but also loses opportunities of replicating more apps that are not in C++.
### Solution

We can define the layer 2 application

[2016-03-29 06:30] #306 closed, assigned to nobody

[2016-04-01 06:59] #292 closed, assigned to mcfatealan

[2016-04-01 07:00] mcfatealan commented on #37
Implemented in `service` page

[2016-04-01 07:00] #37 closed, assigned to mcfatealan

[2016-04-01 07:01] mcfatealan commented on #35
Implemented in `service` page

[2016-04-01 07:01] #35 closed, assigned to mcfatealan

[2016-04-27 07:38] qinzuoyan opened #367 "task_tracker bug"
# Replay

Using valgrind to run test meta_state_service.simple:

[code]

Result in memcheck.log:

[code]

The reason I think is that the task's ref_counter is not increased when put into tracker,  and when the task run done, it's released, but later it's accessed by **task_tracker::wait_outstanding_tasks()** .

[2016-04-27 08:14] qinzuoyan commented on #367
@imzhenyu , do you have time to check it?

[2016-04-27 08:39] imzhenyu commented on #367
@qinzuoyan This is interesting. We've been worked on task-tracker for quite some time before. I remember that there is a trackable_task structure inside task which will pick the task outside its
correspondent task-tracker when it is deconstructed, so your case should not be possible. Does this happen always or rarely?

[2016-04-27 08:44] qinzuoyan commented on #367
It always happens, and can be reproduced.

[2016-04-28 04:26] qinzuoyan commented on #367
@imzhenyu , I have found the reason. The wait_event should be destroyed after this task has been removed from the task_tracker, because the wait_event may be using in task_tracker::wait_outstanding_tasks().
Invoking trackable_task::unset_tracker() in task::~task() will wait until OWNER_DELETE_FINISHED, to ensure that the wait_event is never used in other places. After that, the wait_event can be d

[2016-04-28 04:49] imzhenyu commented on #367
@qinzuoyan sorry for the late response as I was stuck with the other issues last night. It is great that you've already found the root cause. I think you are right. The deconstruction of trackable_task is now AFTER the wait_event is deleted, which causes data race. Your fix unset the tracker before wait_event's deletion to remove this possibility.

[2016-06-02 07:51] #367 closed, assigned to imzhenyu

[2016-06-02 07:51] imzhenyu commented on #336
done.

[2016-06-02 07:51] #336 closed, assigned to imzhenyu

[2016-06-02 07:56] imzhenyu commented on #312
fixed now.

[2016-06-02 07:56] #312 closed, assigned to nobody

[2016-06-02 07:56] #289 closed, assigned to mcfatealan

[2016-06-07 07:48] shengofsun opened #397 "serialized json str with thrift is hard to read"
The following is a "partition_configuration" structure generated by thrift's json protocol:
"{"0":{"rec":{"1":{"rec":1},"2":{"i64":0},"3":{"i32":3},"4":{"rec":0},"5":{"lst":["rec",0]},"6":{"lst":["rec",0]},"7":{"i64":0}}}}".

As we all know we want json to help us to debug our system, but I think messages like may be useless.

Besides, the json format is not consistent with the old ones generated

[2016-06-07 09:44] mcfatealan commented on #397
hi @shengofsun , Zhenyu is away and back to his hometown this week, and so maybe he is not so active these days.

For your concern, I'm not sure if I correctly got your idea, if you want to view structure section name in message, it's not necessary because you can always view these info in the the unmarshalled result. Tianyi's encoder is actually intended for CLI command but not RPC requests. For

[2016-06-07 10:06] shengofsun commented on #397
@mcfatealan If you use the thrift's encoder just for rpc, why not use binary format or native call to C++ serialization method of rDSN, which is more sufficient.
The reason why I concern about the json thing is that data of meta server stored on zookeeper is using json. In current code base, the json stored on meta is also generated by thrift, which is inconsistent with the earlier version, and wh

[2016-06-07 13:30] imzhenyu commented on #397
Thanks Chang and Weijie. @shengofsun the previous refactor done by @ykwd is mostly to support multiple formats at the same time for the RPC handlers - i.e., you can register new request/response marshall/unmarshall formats, such as a new "standard json format". On the other hand, the thrift json format does not take the field name but their index as the json key, which I think is most for compatib

[2016-06-14 08:45] qinzuoyan opened #400 "optimization of write-to/read-from mutation log file may cause problem"
[code]

[2016-06-16 09:42] qinzuoyan opened #405 "a bug of usage of update_init_info in learning process, which may cause data lost"
if data in private buffer is not flushed info file, but log_start_offset is updated in init-info file.

fixed in v0.95, refer to https://github.com/imzhenyu/rDSN/commit/d06d51291d6616146c3805c76497ea6551902cef

[2016-06-20 02:45] imzhenyu commented on #405
Thanks, @qinzuoyan. Will look into this when the merge is done.

[2016-06-20 06:25] imzhenyu commented on #405
There is indeed an issue there - however, the fix is not necessarily correct to me. The issue is mostly raised by the non-atomic operations of update_init_info and app::flush, in between those two there are possibly other private log writtens by 2pc with potential secondary. We can discuss in details later.

[2016-06-20 06:30] #288 closed, assigned to ykwd

[2016-06-20 06:30] qinzuoyan commented on #405
Yes, the fix is probably not correct, and I have got coredump when re-run
with the fixed code.
And, another problem is: replica::on_copy_remote_state_completed() is
running in REPLICATION_LONG thread, and at the mean time commit may be
doing in REPLICATION thread, which will cause problem.
So need more careful fix.

On Mon, Jun 20, 2016 at 2:25 PM, Zhenyu Guo notifications@github.com
wrote:

[2016-06-20 06:30] #277 closed, assigned to nobody

[2016-06-20 06:30] #171 closed, assigned to nobody

[2016-06-20 06:31] #58 closed, assigned to mcfatealan

[2016-06-20 06:33] imzhenyu commented on #405
The thread interleaving is done intentionally. The idea is to catch-up with the secondaries for potential secondaries using 2pc, while at the same time we are doing state checkpointing in on_copy_remote_state_completed.

[2016-06-24 01:29] shengofsun commented on #397
json state stored in meta state service have been replaced by standard json.

[2016-06-24 01:29] #397 closed, assigned to nobody

[2016-06-27 02:22] imzhenyu commented on #405
Current test shows the bug is gone - i'm closing the issue now and  will reopen if further more test reproduces this problem again.

[2016-06-27 02:22] #405 closed, assigned to nobody

[2016-06-27 02:25] imzhenyu opened #415 "invalid ref counter for rpc_response_task in client lib"
`RPC_RRDB_RRDB_PUT_ACK` tasks are executed AFTER the based ref-counters are deconstructed.

[2016-06-29 01:21] imzhenyu opened #418 "server state consistency broken"
i.e., in `server_state::check_consistency`, the last_drops contain the addresses that are assigned to primary and secondaries. This bug has been fixed once before the code merge, now it surfaces again.

[2016-06-29 01:22] imzhenyu commented on #418
@shengofsun Please also help look into this issue while I'm also trying to figure it out why.

[2016-06-29 01:24] imzhenyu commented on #418
The last fix is Commit 01eec618

[2016-06-29 01:26] shengofsun commented on #418
3q. I will try to work on this, too :)

[2016-06-29 02:15] imzhenyu opened #420 "web studio is broken due to http message parser change"
Problem:
- http request from web studio are not parsed correctly due to recent change in http message parser

Solution:
- need to change related JavaScript code as well to post the requests correctly.
- add a test case will avoid further break.

[2016-06-29 03:26] imzhenyu commented on #415
I don't get why but the problem is gone after #416 ... Close now.

[2016-06-29 03:27] #415 closed, assigned to nobody

[2016-06-29 05:15] imzhenyu opened #422 "compile_thrift.py does not work now"
The current compile_thrift.py does not work anymore due to the code merge. @shengofsun would you please take a look since you are mostly familiar with it? This will be used to enhance other javascript code generation as well later.

Thanks,
Zhenyu

[2016-06-29 07:13] shengofsun commented on #422
OK

[2016-06-29 07:48] imzhenyu commented on #420
http://stackoverflow.com/questions/8538319/jquery-ajax-custom-http-headers-issue
Our web studio uses cross-domain js calls which does not allow custom headers. I'm changing the http message parser back to use the url. @qinzuoyan FYI.

[2016-06-29 08:02] imzhenyu commented on #422
@shengofsun Big thanks~

[2016-06-29 08:18] qinzuoyan commented on #420
OK, I see. But you'd better consider the case that an attribute is both set in url and header, but with different value. In this case, which one to choose? or treat as error?

[2016-06-29 08:24] imzhenyu commented on #420
No worry, right now the underlying js call dsn_call is defined by us, so I'll skip considering this case at the moment.

[2016-06-30 01:48] qinzuoyan opened #426 "task code defined in multiple places"
Including:
- **_RPC_CM_QUERY_PARTITION_CONFIG_BY_INDEX**_ defined both in replication.codes.h and partition_resolver_simple.cpp, using different task pool.
- **_RPC_L2_CLIENT_READ**_ and **_RPC_L2_CLIENT_WRITE**_ defined both in service_engine.cpp and replication_service_app.cpp, using different task pool and priority.

Why? will it cause problems? @imzhenyu

[2016-06-30 02:13] imzhenyu commented on #426
This is by design. Essentially, the idea is to override the default priorities and pools for a task code defined in core. We can do that in config file. However, since the override is enforced by replication, we hard code them in the code. There won't be problems if the core and the replication libraries are defined in different .so/.dll, but it may cause problem when they are linked into one sing

[2016-06-30 02:21] qinzuoyan commented on #426
Yes, if linked into one single binary, the final value will depends on the
linking order of object files, which is undefined for most compilers.

On Thu, Jun 30, 2016 at 10:13 AM, Zhenyu Guo notifications@github.com
wrote:

[2016-06-30 05:19] imzhenyu opened #427 "replica crash when the app is deleted during update configuration on meta server"
this case is not handled yet.

[2016-06-30 05:20] imzhenyu commented on #426
So for the later case, the current approach is to override these options in config files to avoid the problems mentioned above.

[2016-06-30 13:39] imzhenyu commented on #420
everything works again.

[2016-06-30 13:39] #420 closed, assigned to nobody

[2016-07-01 00:06] #422 closed, assigned to nobody

[2016-07-01 07:07] qinzuoyan opened #435 "add #include support for configuration file"

[2016-07-06 02:24] imzhenyu opened #440 "better retry policies for layer 2 rpc retries"
As discussed in #439. The timeout for layer 2 RPC is a little bit difficult to set, as it is not appropriate for being neither too long (miss opportunities hiding the error) nor too short (generating too much traffic). We should seek for better ways such as exponential back-off for such timeouts.

[2016-07-06 09:45] qinzuoyan opened #442 "invalid memory write and read in zookeeper_session"
This bug is found by valgrind.
- install valgrind
- build rDSN
- cd builder/bin/dsn.tests
- valgrind --tool=memcheck --show-reachable=yes --num-callers=20 --log-file=memcheck.log --track-origins=yes ./dsn.tests config-test.ini

then in file 'memcheck.log', you can see complains like:

[code]

[2016-07-06 12:26] linmajia opened #444 "Wrap a dynamic array in std::shared_ptr<T>"
Use the following function instead of writing "std::shared_ptr < char > b(new char[new_size], std::default_delete< char[] >());" everywhere:

template < typename T> std::shared_ptr < T > make_shared_array(size_t size)
{
   return std::shared_ptr < T > (new T[size], default_delete< T[] >());
}

[2016-07-06 12:32] linmajia opened #445 "Use solution folder to organize sub-projects in an IDE such as Visual Studio"
1. In top level CMakeLists.txt, add "set_property(GLOBAL PROPERTY USE_FOLDERS ON)"
2. In a sub-project's CMakeLists.txt, add "set_target_properties(${MY_PROJ_NAME} PROPERTIES FOLDER "FolderName")" after statements such as "dsn_add_static_library()"

[2016-07-06 23:58] imzhenyu commented on #418
This surfaces again last night. Last time when we fix it, it is because app_info is not appropriately set and is_stateful becomes false which causes incorrect update of the configuration.

[2016-07-07 02:48] #444 closed, assigned to nobody

[2016-07-07 02:51] #440 closed, assigned to nobody

[2016-07-07 02:52] #426 closed, assigned to nobody

[2016-07-07 07:16] imzhenyu opened #450 "linux install script is broken"
The script seems not working any more.

[code]

[2016-07-07 07:55] qinzuoyan commented on #450
if it is not the first build time, you need not install, because "build"
will copy output files to DSN_ROOT dir.

On Thu, Jul 7, 2016 at 3:16 PM, Zhenyu Guo notifications@github.com wrote:

[2016-07-07 09:17] imzhenyu commented on #450
I understand what happened, but the message is not correct and may confuse the users.

[2016-07-07 10:10] #248 closed, assigned to nobody

[2016-07-07 10:12] qinzuoyan commented on #232
fixed by #444

[2016-07-07 10:12] #232 closed, assigned to nobody

[2016-07-11 09:49] #442 closed, assigned to shengofsun

[2016-07-11 10:00] qinzuoyan opened #457 "parallel execution of read and write may cause inconsistency"
As in the following code:

[code]

on_client_read() is executed in LOCAL_APP thread pool, which is not partitioned.
on_client_write() is executed in REPLICATION thread pool, which is partitioned.
So it is:
- all write requests for a gpid are executed serially in one special thread of REPLICATION thread pool.
- all read requests are executed in any thread of LOCAL_APP thread pool.
- write and read

[2016-07-12 02:17] imzhenyu commented on #457
This is as expected. One way to fix this is to use big locks, and another easy way is to reconfigure the read tasks to be executed in replication thread pool as well. It really depends on the semantic requirements though. In practice, since the reads and the writes requests are usually from different nodes, there is no point about reading the latest update or the stale update, as they are really d

[2016-07-12 03:01] imzhenyu commented on #445
this is done in #448

[2016-07-12 03:01] #445 closed, assigned to nobody

[2016-07-14 10:01] imzhenyu opened #468 "put test cases inside the corresponding projects"
Problem:

 rDSN adopts the modular approach and many of the components are required to be a dynamic linked libraries (e.g., dsn.core.so, dsn.tools.common.so, dsn.tools.hpc.so, dsn.replication.stateful.so). The problem for dynamic linked libraries is that their internal data structures and symbols are not visible to the outside (on Windows, Linux does not do so so far but it is not good design by e

[2016-07-15 02:16] imzhenyu commented on #468
@qinzuoyan @shengofsun @xiaotz @ykwd @glglwty  Since you guys wrote many of the test cases, what do you think of this?

[2016-07-15 04:20] ykwd commented on #468
Are there some cases that we need to use many modules to test a single feature?

[2016-07-15 04:51] imzhenyu commented on #468
@ykwd good question. There is indeed such requirement, which we call global checker (not using gtest). This requires access the internal data structures across multiple modules - this is not an issue on Linux (even they are not explicitly exposed - a BUG on Linux), but it is a problem on Windows (you cannot access symbols that are not exposed using dllexport on Windows). Fortunately, such global c

[2016-07-16 04:48] ykwd commented on #468
To immagrate our current test code to this new framwork, little effort is needed for those local checkers(compared to global checkers) and much effort may be needed for global checkers. Hope that we have not many globle checkers requiring access the internal data.

[2016-07-18 01:54] shengofsun commented on #468
@imzhenyu I'm not sure how to move the test cases in your way, but I don't think it's a good idea if you want to link the logic code and the test code together into a same loadable object. We may put the logic and test in the same folder, and produce two loadable objects(one for static/shared library, another for the test executable) by modifying the cmake files.

[2016-07-18 02:09] imzhenyu commented on #468
@shengofsun It is easy - simply putting the test files into the same folder (e.g., aio_provider.test.cpp is putting tougher with aio_provider.cpp), it's done. We can add default gtest linkage in dsn.cmake and a default core-provided `dsn_run_unit_tests` to run all test in this process. There are several benefits:
- easy to add test cases therefore people are more willing to do that (no need to wri

[2016-07-18 02:31] imzhenyu commented on #468
There is another annoying issue due to the co-existence of both the static and dynamic linked libraries. Considering `dsn.core.tests` which we tried to use static linking for testing purpose, it loads `dsn.tools.common.dll` for tool registration. The latter actually loads `dsn.core.dll` as it is built atop `dsn.core.dll`. In the end, we have two versions of all symbols in core, one in exe and the

[2016-07-18 03:06] shengofsun commented on #468
I think problems like this may result from our solution been unreasonable organized, and we should take efforts to refactor our modularity, not the test.
And unit test code should be directly linked with the logic source code, but not the static library or shared library. So compiling twice is inevitable.
And I think we should avoid larger target binary size, because smaller binary is friendly to

[2016-07-18 03:13] shengofsun commented on #468
@imzhenyu As we will have a meeting this afternoon, let's talk about this face to face later :)

[2016-07-18 05:46] imzhenyu commented on #468
Yes, and I don't quite get what you said above - let's discuss face to face instead. See you soon~

[2016-07-19 04:03] qinzuoyan opened #472 "shared log not flush to disk/ssd before return set result to client"
in mutation_log_shared::append(), the shared log is not flushed (fsync on linux) before commit, which may cause data lost when machine restart under strong consistency semantics.

[2016-07-19 09:38] qinzuoyan opened #476 "write mutation log bug"
Both weijie and I meet the same coredump when kill replica-server repeatedly:

[code]

We doubt  it is caused by unprotected concurrent write of mutation log.
@imzhenyu , would you please look into it?

[2016-07-19 09:42] qinzuoyan commented on #476
@imzhenyu , as I said yesterday, there may be some bugs brought by recent refactor. We need to make it as stable as v0.95 ASAP.

[2016-07-19 09:47] shengofsun commented on #472
In addition, fsync is a block io operation, which is unfriendly to rDSN, so should we consider "aio_fsync" and wrap it as a api of disk_aio?

[2016-07-19 13:31] imzhenyu commented on #472
There is a currently a `flush` method in `aio_provider`. Can you guys do a survey to see whether flush and fsync are the same thing or not? `aio_fsync` is great - I don't realize there is an async version on Linux:)

[2016-07-19 13:36] imzhenyu commented on #476
I will take a look tomorrow. The refactor to the mutation log is inevitable as our performance profiling reveals that the lock used in the shared log (removed after refactoring) is a source of lock contention. As for the concurrent write, as long as the lock offset assignment is protected, concurrent writes should be fine. I'll see whether it is caused by other problems.

[2016-07-19 13:46] shengofsun commented on #472
@imzhenyu, in `aio_provider` of linux, the `flush` method calls `fsync`, but we don't see anywhere that calls aio_provider's `flush` during the prepare of a mutation log.

[2016-07-19 14:02] imzhenyu commented on #472
Thanks, @shengofsun. There are two ways to ensure the data is really pushed to disk: `fsync` and use direct io. I guess in our case using direct IO is easier? (with a direct io flag when opening the log). It is more complicated on windows though as it requires aligned memory.

[2016-07-19 14:23] shengofsun commented on #476
@imzhenyu although the offset is assigned in protection, the crc in shared log is not. The code is as follows(log_file::commit_log_block):

[code]

if two threads execute concurrently, I think the crc32 may be updated mistakenly.

Another issue is that I suspect that the order of offset assignment and the order of disk io may be inconsistent, for example:
mutation A in thread A1 got a offset of A2

[2016-07-19 14:29] imzhenyu commented on #476
Right, now we use chain crc!!! One quick fix is to use stand-alone crc for each call as done in the old times. You may need to fix the replay part as well.

[2016-07-19 14:39] imzhenyu commented on #476
As for the second issue, it is possible that the later offset io is completed first, which may lead to holes in the log ... I think my previous optimization is too aggressive, which leads to checking failure during replay. I'll fix this tomorrow.

[2016-07-20 01:47] shengofsun commented on #472
@imzhenyu did you refer to the O_DIRECT? Behavior of O_DIRECT in Linux is not hardware/filesystem-independent, O_SYNC/O_DSYNC should be the proper choice for us. See [this](http://man7.org/linux/man-pages/man2/open.2.html)
Three issues:
(1) is there a corresponding option in windows?
(2) there are noticeable write amplification when syncing with hardware. I guess we should need a page cache in our

[2016-07-20 02:50] qinzuoyan commented on #476
@imzhenyu , are you fixing the bug?
I think we need to fix the two problem:
- crc should be local variable, and should not be chain crc (which will depend on class variable)
- we get the file offset protected by lock in mark_new_update(), and then do something without lock (computing crc, etc), and finally put aio_task in work queue by invoking work_queue::add_work() to serial write operation. But

[2016-07-20 02:55] shengofsun commented on #476
I'm fixing the chained crc problem, and now running the kill test.

[2016-07-20 04:58] imzhenyu commented on #472
Seems O_DIRECT + O_SYNC is good enough. But unfortunately, the buffer should be the same as the situation under Windows that it needs to be aligned. For your questions:
- yes
- if we need to do hard sync, we anyway will have write amplification issue.
- i'm not sure neither - we may try and see.

[2016-07-20 05:03] imzhenyu commented on #476
@qinzuoyan @shengofsun I'm working on it.
- chain crc is good as it helps protect the data integrity with stronger guarantee (not only the current block, but also the sequence in a log file). however, the current implementation does not guarantee that the chain crc is computed in sequence (have race).
- offset is always assigned ok. The fatal issue is that the blocks with larger offsets may be wri

[2016-07-20 05:16] qinzuoyan commented on #476
I don't understand the sentence of "offset is always assigned ok". I think it may cause problem even not under the fatal issue: the blocks with larger offset may be written before the blocks with smaller offset, then the offset set in data is not matched with the real offset in file.

[2016-07-20 05:26] imzhenyu commented on #476
@qinzuoyan We use the async mode to write, and specify the offset explicitly when calling write. Thereafter, it is possible that the file range [200, 300) is written while [0, 200) is undefined.

[2016-07-20 05:31] qinzuoyan commented on #476
@imzhenyu , if as you say, then we break the sequence write model...

[2016-07-20 05:32] imzhenyu commented on #476
@qinzuoyan Exactly.

[2016-07-20 05:39] shengofsun commented on #476
@imzhenyu but performance for random access of disk is not as good as sequence write.

[2016-07-20 05:44] shengofsun commented on #476
BTW, I think standalone crc should be enough for hardware fault.

[2016-07-20 05:49] shengofsun commented on #472
O_SYNC is enough for hard sync, but as far as I can see, O_DIRECT is not necessary. And if we write file with a buffer of page size, the write amplification issue should reduce. Of course, this also need to test.

[2016-07-20 05:56] imzhenyu commented on #476
@shengofsun Yes, I was counting on the auto-batch layer in disk engine to turn this into sequential write in most cases (because the offsets are clearly conforming the sequential writing pattern). But since we have issues now at the upper layer, we need to do the batching and sequencing by ourselves.

[2016-07-20 06:17] qinzuoyan commented on #476
@imzhenyu , to resolve the log hole problem, I considered these ways:
- first way: determine the offset in lock, and invoke file::write() in the same lock. That is, we delay setting offset to log_file::commit_log_block() just before invoking file::write_vector() and protected them in the same lock range. It will scarify the performance, but because computing crc is not in lock, the lock contention

[2016-07-20 06:55] qinzuoyan commented on #472
so the resolution is to set O_SYNC flag when dsn_file_open() in log_file::create_write()?

[2016-07-20 06:56] imzhenyu commented on #476
@qinzuoyan @shengofsun Just finish the rough fix, did not test yet. You may have a look first, and I will continue the testing.
https://github.com/imzhenyu/rDSN/commit/3764b404a9acf99c0ee7726509f4a9e7a9af1423

[2016-07-20 07:03] qinzuoyan commented on #476
@imzhenyu , what's the idea behind the code?

[2016-07-20 07:03] imzhenyu commented on #472
Let's try and see.

[2016-07-20 07:05] imzhenyu commented on #476
Simply fall back to the single write mode, but putting the `log_file::commit_log_block` explicitly outside the lock. Crc is remain unchanged as now there is only one concurrent write permitted.

[2016-07-20 07:07] qinzuoyan commented on #476
I'll summit our kill-test code to rrdb, then you can also run kill-test to find bugs.

[2016-07-20 09:59] imzhenyu commented on #476
Sure, thanks.

[2016-07-21 01:26] #476 closed, assigned to nobody

[2016-07-27 05:32] qinzuoyan opened #489 "load module ordering problem"
Now that modules are specified in config [modules] and loaded at runtime, the loading order is meaningful.

For example, I specify modules as:

[code]

Generally I expect the loading order is the same as appearing order specified in config. But because we use map to store data in _configuration_ class, the modules are loaded in **alphabetical order**, which may cause some unexpected problems, such

[2016-07-27 05:41] qinzuoyan commented on #489
Another problem is, if some task codes are bind to different task pool in different modules, then the real binding is determined by the config order, which increases configuring difficulty for user, and in worse, it may bring in unsolvable conflict.

[2016-07-27 05:49] imzhenyu commented on #489
@qinzuoyan The task code re-binding is now done through auto-init global symbols. However, it is not reliable on Linux as Linux always references the same symbol even the symbol is redefined in the current .so. On the other hand, I've thought about the library order problem before, and my previous thinking is that a good design should decouple these modules so that their order does not matter.  Th

[2016-07-27 08:07] qinzuoyan opened #491 "concurrently load replicas on init"
Now in replica_stub::initialize()，replicas are all loaded serially in single thread, which takes long time because need to replay private logs. We can improve it to load replicas concurrently by multi-thread.

[2016-07-28 03:08] shengofsun opened #496 "smaller ballot mutation prepare crash during learning"
Given three replica servers, R1, R2 and R3. Consider this:
- Only two replicas in a replica group, R1 the primary, R2 the secondary. And the (ballot, prepare_decree, commit_decree) of R1 is (1, 0, 0). similarly, R2(1, 0, 0)
- R1, the primary, got a client request, finally the status changed to: R1(1, 1, 1), R2(1, 1, 0)
- R1 send a group check, then status changed to: R1(1, 1, 1), R2(1, 1, 1)
- The

[2016-07-28 03:30] imzhenyu commented on #496
Thanks @shengofsun. Where is the assertion? It seems for me the assertion is not appropriate as the learning process will have a high chance to learn something that has lower ballot than its current one.

[2016-07-28 03:35] shengofsun commented on #496
#0  0x00007fa645cc0c37 in __GI_raise (sig=sig@entry=6) at ../nptl/sysdeps/unix/sysv/linux/raise.c:56
#1  0x00007fa645cc4028 in __GI_abort () at abort.c:89
#2  0x00007fa646dbd868 in dsn_coredump () at /home/weijiesun/github/rDSN/src/core/core/service_api_c.cpp:307
#3  0x00007fa644c6428f in dsn::replication::mutation_cache::put (this=0x7fa584019b00, mu=...) at /home/weijiesun/github/rDSN/src/dist/re

[2016-07-28 03:38] shengofsun commented on #496
@imzhenyu the stack dump is with the pegasus branch. I think with master branch should be the same if no modification related to program logic is made.

[2016-07-28 03:44] shengofsun commented on #496
The assertion is ok in my mind, as a mutation with lower ballot should be rejected by the caller of mutation_cache::put.

[2016-07-28 04:17] imzhenyu commented on #496
The problem is caused by that during the learning process, the old mutation is already there with larger ballot. We should simply add a check before `_prepare_list->prepare(mu, partition_status::PS_POTENTIAL_SECONDARY);`, with the similar check done in `on_prepare` (i.e., check whether the old with larger decree already exists). The replication logic itself is ok.

[2016-07-28 05:02] shengofsun commented on #496
Well, a simple check for this situation certainly works. But I think the root cause is that when replaying prepare_list, we reassign a larger ballot for an existing mutation. Do you have other concerns when choose this way? Coz I think this may make our system harder to understand and easier to be faulty.

[2016-07-28 05:05] imzhenyu commented on #496
We assign the latest ballot when replaying mutations, as this is not an existing mutation but a new one. It is possible that for the same decree, that the content of the mutation is different - and we use larger ballot to ensure that the latter one is accepted by the replicas.

[2016-07-28 05:37] shengofsun commented on #496
"**It is possible that for the same decree, that the content of the mutation is different**"
I don't quite understand this. I think as long as only one primary exists at any time, we can make sure two mutations with same ballot and decree should have the same content even without reassigning.

[2016-07-28 05:47] imzhenyu commented on #496
For the same ballot AND decree, sure, but not the case for mutations with the same decree BUT not the same ballots.

Considering the following case:
Init: A is the primary, B/C are the secondaries
A prepares 1.2 to B/C, B gets it, and C does not.
A crashes
C becomes the new primary, it replays the prepare list 2.1 (with same content with 1.1). It does not have 2.2 until the client sends a new writ

[2016-07-28 06:00] shengofsun commented on #496
I agreed with this, and surely we should assign new ballot for new requests from clients. But for the old requests which is already in the prepare_list, I think we can safely use the old (ballot, decree) pair.
In other words, a mutation's ballot should be assigned only when it is received from the client, which is a rule raft also applies.

[2016-07-28 06:03] imzhenyu commented on #496
Not every mutation in the prepare list is valid, as the mutation 1.2 showed in the above case, i.e., a prepared mutation on one replica is not necessarily prepared on other replicas. By assigning a new ballot number, we are re-issuing the request for a new Paxos instance. The consensus cannot be achieved without this.

[2016-07-28 08:10] qinzuoyan commented on #491
resolved~

[2016-07-28 08:10] #491 closed, assigned to nobody

[2016-07-28 10:20] shengofsun commented on #496
@imzhenyu  I was involved into other affairs this afternoon, so sorry for replying you not immediately.
Given your example, 1.2 may be prepared:
(1) both to B & C. In this case, no matter B or C chosen to be new primary, mutation 1.2 can be safely replayed with "1.2" but not "2.2"
(2) B has 1.2, but C doesn't, and B chosen to be new primary. In this case, B should send prepare message with its bal

[2016-07-28 11:39] imzhenyu commented on #496
Lets continue the previous example and have C failed this time, and B is selected the new primary. B and C will have 1.2 and 2.2 respectively (prepared). B needs to replay the prepare list, and you can see that it needs to be 3.2 in this case in order to overwrite 2.2. on C.

[2016-07-28 13:49] shengofsun commented on #496
I’m wrong, thank you so much :)

[2016-07-28 13:50] shengofsun commented on #496
I will add the check tomorrow.

[2016-07-29 01:53] shengofsun commented on #496
@imzhenyu After recheck the PacificA, I found your example is still not valid. If B has 1.2 and C has 2.2 and B elected to be the leader, it can still replay its mutation(decree:2) with 1.2, coz it doesn't need to overwrite C's 2.2 as C has been kicked off from the replica group. When C becomes a learner and wants to join this group again, we can choose to truncate C's prepare log explicitly(for e

[2016-07-29 02:06] imzhenyu commented on #496
Let's say C is not failed but only downgraded due to load balancing, and B is upgraded to primary, while mutation 2.2 has never reached to B (due to net-msg lost). It is important to understand that **a prepared mutation (in the log) is not necessarily valid** and it can always been overwritten with new mutations.

[2016-07-29 02:23] shengofsun commented on #496
xin fu kou fu

[2016-07-29 02:44] imzhenyu commented on #496
It is long time since last time discussing this seriously, so thank you~ You may think harder in case we can find a serious hidden bug in the end :-)

[2016-07-29 09:28] #496 closed, assigned to nobody

[2016-07-29 09:47] qinzuoyan opened #501 "directly append blob to message_ex to avoid unnecessary memory copy"
TODO in mutation::write_to().
refer to #499

[2016-08-01 01:48] qinzuoyan opened #504 "coredump at replica::update_local_configuration()"
found by kill_test.

last log:

[code]

coredump stack:

[code]

[2016-08-01 01:50] qinzuoyan opened #505 "coredump at replica::on_prepare()"
found by kill_test.

last log:

[code]

coredump stack:

[code]

[2016-08-01 02:12] imzhenyu commented on #505
Thanks. Add a new filter after local commit in prepare, then it should be ok. Btw, the rocksdb error is kinds of weird, seems we did not close the files in time?

[2016-08-01 02:18] imzhenyu commented on #504
Nice. Will look into this later. A first guess is about primary to potential secondary?

[2016-08-01 02:20] shengofsun commented on #504
@imzhenyu @qinzuoyan
Why the bug happens is as follows:
1. A replica R crashed
2. Meta server detects R's crash, and starts to remove primaries from R. Firstly, meta updates the config to remote storage, while keep the local storage the old one.
3, The R comes back to alive, then starts to sync the config from meta. Meta returns the old config to it. So R still regards itself primary.
4. After met

[2016-08-01 03:10] imzhenyu commented on #504
This is a violation of the perfect FD. Make switch valid breaks still. Ignore query-config amplifies the failure. A better way maybe:
- ensure the crashed replica does not restart within the period of the lease.
- make sure that update of the state on meta server is quick enough to dis-allow mis-syncing for the later restarted replicas, by updating the in memory state on meta server directly befor

[2016-08-01 03:50] qinzuoyan commented on #505
The reason is that the "open files" limit on my machine is 1024, it is too small.

Actually, the server have been not able to open files for a long time before coredump:

[code]

but in mutation_log::mark_new_offset(), we didn't check the return code of create_new_log_file(), and continues to write log into old log file. So we'd better add checking here to coredump early.

[2016-08-01 04:09] shengofsun commented on #504
- "Ensure the crashed replica doesn't restart within the period of lease" is not good. If a crashed replica server can recover asap, we may avoid switching of config status to give higher performance.
- No matter how quick you update the meta server's state, mis-syncing can't be prevented because the replica-server's disconnection event and the meta server's state is protected by **different lock*

[2016-08-01 05:45] imzhenyu commented on #504
- correctness clearly has higher priority than performance, so if there is easy way out, let's get it. Not to mention that the replicas should not fail often when they get stable.
- have not looked into the details for long. My memory is that the FD's disconnect callback is invoked **inside** the FD lock to ensure consistency.
- you are right, it is not a good idea to update before syncing.

[2016-08-01 06:05] shengofsun commented on #504
- For question 1: We can't control when the replica server will come back either. For the crash thing, we may force our program to sleep for a period before it starts to do the initialization. But what if the disconnection is due to the network partition?
- For question 2:
  (1) FD's disconnect callback is protected with FD lock, and invoked in **FD's thread_pool**. Before it starts to do modifict

[2016-08-01 06:20] #505 closed, assigned to nobody

[2016-08-01 06:35] shengofsun commented on #504
In addition, making the "ps_primary->ps_potential_secondary" do violate the perfect FD, but I think for our PacificA is safe. The old primary can't commit any new mutations, and can only serve read for committed mutations.

[2016-08-01 09:12] shengofsun commented on #504
@qinzuoyan @imzhenyu I'm trying to fix this with ignoring a config sync when a partition is syncing with remote storage. You may want to [review](https://github.com/imzhenyu/rDSN/pull/507/files)

[2016-08-02 00:22] imzhenyu commented on #504
@shengofsun How about we only ignore the reply for that specific partition? I'm worried about the failure amplification issue for the other replicas - a common pattern we see that may lead to cascading failures in the end.

[2016-08-02 00:49] shengofsun commented on #504
Currently my fix is to add a new RPC for replica to do the config-sync, instead of the old `query-configuration-by-node`.  So I don't see this a big deal. For clients who wants to query the cluster information from meta, there will be a response immediately, regardless of whether it is stale.
For replica servers, only the "config-sync" is impacted.
And on the other hand, we shouldn't response part

[2016-08-02 01:59] imzhenyu commented on #504
I mean skipping the reply unnecessarily make the time of unavailability of **other** replicas longer, which may cause unnecessary fail-over. In certain cases, it can lead to cascading failures that take down many replicas offline. A better remedy could be let's mark specifically for that particular replica being under syncing, or we pre-calculate the result for that replica, and send calculated re

[2016-08-02 02:47] qinzuoyan commented on #504
用中文说下我的理解吧。

这里出core的原因：
- replica-server挂了后，很快被重新拉起，初始化完成后，启动FD去连master（参见replica_stub::initialize），meta-server收到心跳后，会更新心跳状态（参见failure_dector::on_ping_internal）
- 另一方面，meta-server在replica-server挂了后，经过一段时间后会感知到节点丢失，感知时间取决于FD的grace_period时间，此处为15秒（参见定期检测函数为failure_detector::check_all_records）
- failure_dector::on_ping_internal() 和 failure_detector::check_all_records() 对心跳状态的更新都要对failure_detector::_

[2016-08-02 02:59] qinzuoyan commented on #504
"I mean skipping the reply unnecessarily make the time of unavailability of other replicas longer, which may cause unnecessary fail-over."

@imzhenyu , I don't think it's a big problem. For initialing replica-server, if config_sync is ignored, then another config_sync will be started soon; for normal replica-server, ignoring config_sync would not affect availability.

Or, we can make meta-server r

[2016-08-02 03:10] qinzuoyan commented on #504
@imzhenyu ，我们对 @shengofsun 修改后的代码运行kill_test，已经一个晚上没有复现core了，要不我们先把改动merge了，然后将issue保留着，后面看还是否能更完美地解决？

[2016-08-02 03:14] imzhenyu commented on #504
@qinzuoyan Thanks. `ERR_BUSY` will be much better instead of simply ignoring the replica request. The replica should try again very soon (e.g., after several hundreds of ms) to reduce the chance of unnecessary fail-over of the other replicas.

[2016-08-02 03:25] imzhenyu commented on #504
@qinzuoyan @shengofsun  已经merge。这里主要有两点后面可以继续讨论：
- 这种可能会促发新的fail-over （sync timeout导致meta server上的LB踢出更多人，或者sync下去导致其他fail-over操作）的操作得多想一下会不会导致级联反应，参加我之前的一个 [survey paper](https://www.microsoft.com/en-us/research/wp-content/uploads/2016/02/FailureRecoveryBeEvil.pdf)。其中一个问题就是错误放大failure的范围。当然并不是说这里的这个问题一定会导致cascading failure，但是要小心考虑。
- 第二是有没有可能pre-calculate zk那边写完后的结果，只要：（1）.zk 的写是串行的，(2). zk的写失败不会

[2016-08-02 06:23] qinzuoyan opened #508 "inconsistent byte length of hash code"
Hash code is mainly used for two purposes: partition hash and thread hash.

The _hash_ field in message_header is an important value: before partition resolving, it's the partition hash set by user; after partition resolving, it's the thread hash passing to server to determine which thread to dispatch.

[code]

Firstly, we calculate partition hash by rrdb_key_hash() in client:

[code]

When partit

[2016-08-02 06:33] shengofsun commented on #504
@imzhenyu @qinzuoyan
- 关于zk串行写：指的是对zk先发出的写请求一定先在zk端apply并且回调一定先执行吗？因为用的是异步接口，对不同的znode我们是不能保证这一点的。对于同一个znode，我们在meta server的代码逻辑里是强制串行写的，即对同一个znode同时只有一个写操作在进行。
- pre-calculate不好做的太复杂，一个可以的优化点是：对于正在更新的configuration，如果要修改的节点不是当前在做查询的节点，那么是可以把当前节点的状态返回给replica server端的。这一点的优化后面可以考虑加进来。
- 另外我们这个bug牵涉到了FD的机制，还有config sync时的rpc forward，要想完全修好不太容易……当前我觉得合理的解决思路是把failure_detector模块中的那个锁暴露出来，再加上现在对config_

[2016-08-02 07:21] imzhenyu commented on #508
@qinzuoyan Your understanding about the hash is correct, and the task uses hash as an integer because it is a local behavior now, as it is used only for thread dispatching. The machine/partition dispatch part is used in messages. Changing the task hash to uint64 is kind of too heavy for the local tasks (e.g., timers, lpcs, rpc response tasks, aio tasks). Maybe we can change the inline or static-ca

[2016-08-02 07:30] qinzuoyan commented on #508
now dispatch just by partition_index may cause thread load balance problem,
for example, replicas with the same partition_index (even with different
app_id) will be dispatched to the same thread.

On Tue, Aug 2, 2016 at 3:21 PM, Zhenyu Guo notifications@github.com wrote:

[2016-08-02 07:32] imzhenyu commented on #508
These two problems are orthogonal, as even you use uint64 for task hash, the thread dispatching will still go to the same result (e.g., when thread number for replication thread pool is 8). For load balance issue, you may change the logic inside `global_hash_to_thread_hash`, e.g., return partition_index + app_id, or something like that.

[2016-08-02 08:11] qinzuoyan commented on #508
but the problem is, in many places, we just use implicitly cast from uint64_t to int:

[code]

if we use _global_hash_to_thread_hash()_ liked function instead of implicit-cast, then there is risk that when we forget using the function, the compiler will just use implicit-cast and can not give warning. It is hard to maintain.

[2016-08-02 08:22] imzhenyu commented on #508
The maintenance is indeed an issue.  Let's do the following then:
- use uint64_t for all hash value as you suggested, but this won't fix the load balance problem
- change dsn_gpid_to_hash to fix LB issue.

[2016-08-02 08:25] qinzuoyan commented on #508
I think the later is better, we can return a uint32_t compatible value for dsn_gpid_to_hash(). Moreover, for better load balance, we'd better not simply combine app_id and partition_index like _((app_id << 16) + partition_index)_.

[2016-08-03 04:09] qinzuoyan commented on #508
@imzhenyu , I found a problem.

We use message_header.client.hash for both partition_hash and thread_hash, storing different value on different time range, just as above. But it may cause miss-use if not careful, and bring in tricky problem.

For example, in rpc_engine.cpp:866, we will do retry RPC re-using the old message. Think about the case that the message has been resolved **partly** succeed

[2016-08-03 04:47] imzhenyu commented on #508
Right, so the problem is caused by the overwritten of the hash value in message header. I think your suggestion is reasonable. We may also need to change the APIs in that case, i.e., adding partition_hash and thread_hash as two separated parameters for the rpc-call related APIs. You may do that together. Thx.

[2016-08-03 04:58] qinzuoyan commented on #508
Working on it ...

[2016-08-03 05:11] qinzuoyan commented on #508
And why need we use uint64_t to store partition_hash? or also use int can be ok?

[2016-08-03 05:13] imzhenyu commented on #508
The goal is to have a big enough value range so that latter on we may enable range partition, consistent hash, etc.

[2016-08-03 08:25] qinzuoyan commented on #489
@imzhenyu , actually #513 is not enough. In function load_all_modules(), it firstly load modules in [modules], and then modules in [apps.xxx].dmodule. That means, app dmodules can only be loaded after [modules], so the order is not so meaningful...

[2016-08-03 10:25] imzhenyu commented on #489
You can move all modules to the (modules) section if order matters, the  apps module is there just coz I don't want to break existing config files.

[2016-08-03 23:45] qinzuoyan commented on #489
Or we can check that the module specified by dmodule must appear in [modules].

?$B<+2fE*(B iPhone

$B:_(B 2016$BG/(B8$B7n(B4$BF|!$(B00:49$B!$(BZhenyu Guo <notifications@github.com<mailto:notifications@github.com>> $B<LF;!'(B

You can move all modules to the (modules) section if order matters, the apps module is there just coz I don't want to break existing config files.

##

You are

[2016-08-09 01:57] qinzuoyan opened #520 "coredump at mutation_log::write_pending_mutations()"
[code]

After debugging, we think it is because the following line's problem:

[code]

Here the assigning of _issued_write_task is not safe, which is not protected by the lock. It may be concurrently executed by different threads:
- it may be executed by replication thread when init_prepare() or on_prepare()
- it also may be executed by aio callback thread to trigger another writing

[2016-08-09 02:23] imzhenyu commented on #520
There is only one concurrent write (i.e., commit_log_block), though it may be triggered in different threads. I am wondering whether this is caused by the other problems.

[2016-08-09 02:50] qinzuoyan commented on #520
Though there is only one concurrent write, the case may still occur.
- One replication thread R try to append a mutation log, it goes to line _mutation_log.cpp:155_: created the write task and is assigning the task to **_issued_write_task**. Because the **_issued_write_task** may hold an old value, so it will firstly release the old task object at _autoref_ptr.h:141_, which may need a long time to

[2016-08-09 03:19] qinzuoyan opened #522 "a data lost problem caused by replica-server restart"
We found a data lost problem by kill_test.

We kill replica-server@34803 at 10:54:53, and some time later, the client found the data with id=1675634 was not found, which have been set successfully before:

[code]

Client log:

[code]

Replica-server@34803 log:

[code]

Replica-server@34805 log:

[code]

**The reason is:**
- primary@34803 received set(id=1675604) request from client, and try to sen

[2016-08-09 03:22] shengofsun commented on #522
@imzhenyu, I think we should force a primary to update its ballot when it is restarted from crash, and found itself elected as primary again.

[2016-08-09 03:32] imzhenyu commented on #520
Thanks @qinzuoyan. This is pretty clear, and it is quite similar to the other ref-counter issue related to _issued_write we have discussed before.

[2016-08-09 03:43] imzhenyu commented on #520
@qinzuoyan This seems a quite common pattern: a task is already on the way, and the task handle is not assigned, which triggers some data-race issues around ref-counters, etc. I guess a general fix we can do is to assign the task handle first before we really fire the task. This is not an issue at the C service API layer, as it is exactly what is done. The C++ wrapper layer however needs to be enh

[2016-08-09 03:56] qinzuoyan commented on #520
OK, let's leave it to future improvement, currently we'd better solve the problem of #522

[2016-08-09 04:02] imzhenyu commented on #522
Thanks for the finding. A quick fix is to simply let process restart period be larger than the grace period in FD. I agree with your proposal as well, and we can have it later.

[2016-08-09 07:48] qinzuoyan commented on #522
we have improved for two ways:
- add delay_for_fd_timeout_on_start option to control delay on start, refer to #522
- force to increase ballot when old crashed primary is elected, refer to https://github.com/imzhenyu/rDSN/commit/368c4212b21d7420c4d2113738df403167be8941

@imzhenyu , please review them.

we will test them in two ways:
- set delay_for_fd_timeout_on_start = false
- set delay_for_fd_tim

[2016-08-09 08:33] imzhenyu commented on #522
Just take a look, both are good~

[2016-08-10 04:24] qinzuoyan opened #528 "potential secondary learn too slow to catch up with primary"
In our test, we found that the potential secondary learn too slow:

[code]

As you can see, the learning process lasts for tens of minutes.

That is:
- on each learning round, PotentialSecondary copies a private log from Primary and applies it, which learns hundreds of mutations and takes 2~3 seconds; but during the the time, Primary commits another hundreds of mutations, and the private log grows

[2016-08-10 04:25] qinzuoyan commented on #528
@imzhenyu , do you have better improvements?

[2016-08-10 04:29] imzhenyu commented on #528
There is a configuration for the mutation cache size. You may enlarge the cache size to avoid learning the private log as well in many cases.

[2016-08-10 23:58] imzhenyu commented on #528
Another way is to use RPC + AIO to pipeline log read + private log apply to avoid unnecessary log written on potential secondary's disk.

[2016-08-15 04:58] imzhenyu commented on #522
Close now since it is done.

[2016-08-15 04:58] #522 closed, assigned to nobody

[2016-08-15 04:58] imzhenyu commented on #520
Close now since this is done.

[2016-08-15 04:58] #520 closed, assigned to nobody

[2016-08-15 04:58] imzhenyu commented on #508
Close now since it is done.

[2016-08-15 04:58] #508 closed, assigned to nobody

[2016-08-15 05:01] imzhenyu commented on #504
Close since it is done - can open later if we have better improvement later.

[2016-08-15 05:01] #504 closed, assigned to nobody

[2016-08-15 05:01] imzhenyu commented on #489
Close now since it is done.

[2016-08-15 05:01] #489 closed, assigned to nobody

[2016-08-15 05:04] imzhenyu commented on #468
It is done. Now for all the project we can have two kinds of test:

(1) gtest unit test
The test engine will search for a file named `build-dir/test/project-name/gtest` and run `dsn.svchost config` for each line in the gtest file which specifies a config file name under the same directory.

(2) custom test
The test engine will also search for `build-dir/bin/project-name/test.sh` (or .cmd on window

[2016-08-15 05:04] #468 closed, assigned to nobody

[2016-08-15 05:04] #450 closed, assigned to nobody

[2016-08-15 05:05] imzhenyu commented on #301
It is fixed and moved to rDSN.dist.service

[2016-08-15 05:05] #301 closed, assigned to nobody

[2016-08-15 05:07] imzhenyu commented on #282
Fixed at http://imzhenyu.github.io/rDSN/documents/v1/html/

[2016-08-15 05:07] #282 closed, assigned to imzhenyu

[2016-09-07 04:59] imzhenyu opened #551 "rpc timeout handling is costly"
#### Problem

For RPC calls expecting response from server, we now issue a time-out task which triggers rpc response task with null response. Profiling reveals that this is one of the top costs for RPC stress tests.  Note the current implementation relies on boost asio to implement timer service.

[2019-03-21 07:49] zdy0009 opened #552 "protobuf is ok?"
I use counter.proto to create some files ,when I compile ,error happened :Linking CXX shared library lib/libcounter.so
/usr/bin/ld: /home/zdy/rdsninstall/lib/libprotobuf.a(arena.cc.o): relocation R_X86_64_32 against `_ZN6google8protobuf5Arena23lifecycle_id_generator_E' can not be used when making a shared object; recompile with -fPIC
/home/zdy/rdsninstall/lib/libprotobuf.a: error adding symbols: B

[2019-04-02 08:44] linmajia commented on #552
@zdy0009 , sorry for late response.

By default, protobuf is compiled as a static library without the compiler argument "-fPIC" (position-independent code). Please open the file "ext/protobuf/CMakeLists.txt", add "-DCMAKE_POSITION_INDEPENDENT_CODE=ON;" after line 13  (quotation mark is needed) and have a try.

Thanks!